[2017-11-20 22:14] dob opened #1 "README"
Just tracking an issue for us to update the README with usage instructions.

[2017-11-20 22:16] dob opened #2 "Player - Fallback CDN Support"
Just like the existing web player, we need fallback support to a gateway node + CDN combo so that non-Livepeer users can consume streams.

I know it may not be trivial out of the box with the current channel based player. But at least the fallback should work as it does currently if the streamID is provided directly. Perhaps different URL patterns/routes for invoking the player?

Another option is

[2017-11-22 01:42] jozanza commented on #1
Good call! I'll work on updating the README's in each project this week.

[2017-11-22 01:44] jozanza commented on #2
You got it. I think working directly with streamID's should be fine for now.

[2017-11-28 16:55] dob opened #3 "Player - StreamID Support"
If a Livepeer broadcaster or developer knows the streamID for their specific stream, they should be able to make it available via the player. The easiest way I can think of to support this is to handle the url pattern

`/stream/<streamID>`

Currently the player accepts the channelID, and uses it to parse through the blockchain logs to determine the streamID so that it can make a request to the CDN

[2017-11-28 17:00] dob opened #4 "Player - Local stream support"
A very common workflow when trying to run a Livepeer node is to try to broadcast a stream, and then view it played back. Right now the docs point the user to play it back in the web player hosted at media.livepeer.org/player.html. This player will attempt to pull the stream from the local node if it's running, and if not, fall back to the CDN. It makes for a very nice first experience, even if the

[2017-11-29 15:48] jozanza opened #5 "Video Player Deployment - HTTPS & Redirection Policy"
We need to make 2 updates to get the video player in a usable production state:

- [x] ~**Secure access to our testnet geth node.** Browser mixed-content policy means we need to run everything over the same protocol, and https > http if we want users to trust our apps. Here's [one approach with nginx](https://ethereum.stackexchange.com/questions/26026/how-to-ssl-ethereum-geth-node).~
- [X] ~**All

[2017-11-29 17:52] dob commented on #5
Question for @ericxtang and @joewest as well. Do we really want to use S3 to host this if it presents these configuration issues anyway? If we're setting up nginx, ssl cert, and custom 404 rules then we may just serve it out of nginx (possibly behind a load balancer), anyway?

[2017-11-29 18:34] jozanza commented on #5
http://media.livepeer.org is in business. We just need geth ssl now.

[2017-11-29 18:42] joewest commented on #5
@jozanza Nice!

@dob We can force TLS and handle redirects in the bucket config, but the easiest option is to run a combo of S3+Cloudfront+ACM. On first glance, I don't think we need nginx for this, but if I'm missing something let me know and we can review the requirements.

[2017-11-29 18:46] jozanza commented on #5
nginx is for the geth node @joewest

[2017-11-29 19:05] jozanza commented on #5
It also looks like aws' [API Gateway](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-create-api-as-simple-proxy-for-http.html#api-gateway-create-api-as-simple-proxy-for-http-build) could be a good option for wrapping geth

[2017-11-29 19:12] joewest commented on #5
@jozanza Ah, gotcha. It'd be nice to not manage certs manually. API Gateway is one option, though, it's a little weird.

Is Geth for providing endusers access to the network via the HTTP-RPC / WS-RPC in their browser? Where do we limit what commands are accessible via a proxy?

[2017-11-29 19:25] joewest commented on #5
It looks like Geth and Parity do **not** support TLS on [json|ws]-rpc. That's pretty wild.

[2017-11-29 20:22] jozanza commented on #5
Yeah, imho it's really crazy they don't. If you have an http/ws server, typically, it's not hard to support tls 🤷‍♂️

[2017-11-29 22:02] dob opened #6 "Autoplay video on channel page load"
If a stream is discovered for a channel, we should autoplay it so the user doesn't need to make a second click to press play.

[2017-11-29 22:08] dob opened #7 "Player - StreamID gets truncated"
Right now we display the streamID on the player, but it's too long and gets truncated. When people end up wanting to share a specific streamID, we'll need to display the full version. We could either wrap, or use a smaller font for it.

https://cl.ly/3N0G2N1x2F1C

[2017-11-29 22:09] dob commented on #2
Closing this, as the player currently falls back to the CDN. There's a separate issue for local stream support #4

[2017-11-29 22:09] #2 closed

[2017-11-29 22:11] jozanza commented on #5
Closing this one out. Video player is live at https://media.livepeer.org

[2017-11-29 22:11] #5 closed

[2017-12-04 20:05] jozanza commented on #8
It should show the video with the highest jobId if it's on the CDN. The current player doesn't know anything about the p2p network and has no way of loading videos if they aren't on the CDN.

[2017-12-14 16:51] jozanza commented on #9
I'd definitely be interested in exploring the CDN caching policy.

[2017-12-18 15:34] jozanza commented on #9
@ericxtang can confirm this, but I believe this is an issue with LPMS holding onto segment for too long. So I think we might want to address the issue in that project.

[2017-12-18 15:36] jozanza commented on #11
@rayj00 Thanks for creating this issue. It seems this happening because old segments are being cached by our nodes. Issue #9 is where we'll continue the discussion. 👍

[2017-12-27 02:45] chrishobcroft opened #16 "New player auto-start"
Currently, when you load a channel in the new player, it requires the viewer to press the play button as well.

It should just start streaming automatically.

[2017-12-27 22:41] dob commented on #16
Closing as duplicate of #6

[2017-12-27 22:41] #16 closed

[2018-01-03 22:41] dob commented on #8
I believe this is fixed as per the latest player updates which autoplay the latest video after verifying that it is still receiving new content and hence "live"

[2018-01-03 22:42] #1 closed

[2018-01-03 22:43] dob commented on #6
Fixed as per: https://github.com/livepeer/livepeerjs/commit/0f6ebbdc69da1bcdc89ccb73be2759999b37c3e5

[2018-01-03 22:43] #6 closed

[2018-01-03 22:45] dob commented on #9
Fixed as per: https://github.com/livepeer/livepeerjs/commit/f955277bca880b959fab4cf1f74464fb89cbadf5

Approach is to poll the playlist file to see if new segments are added, and after 4 attempts if no new segments are added consider the stream dead. This works, but introduces latency before the stream can begin autoplaying. In reality we'd like to fix this in the media server so that the playlist

[2018-01-03 23:43] dob commented on #19
Looks like it's not working in Safari or Firefox either. On Firefox we're getting audio but no video and on Safari the video won't load. When I revert back to this commit: c0ee5a765519b40c55a5d91a2e7e487121556a22, it works in Safari

[2018-01-04 19:57] dob commented on #19
This was further isolated. If you broadcast via the CLI, it only plays in Chrome desktop. FFMPEG + our m3u8 files must be doing something that's not quite according to spec.

If you broadcast using OBS, it plays in all desktop browsers, but not currently on mobile.

[2018-01-04 23:45] jozanza commented on #19
Closed by https://github.com/livepeer/livepeerjs/commit/a0d39deca34d0c329a970029761d13fcaa72a9ea

[2018-01-10 20:04] dob commented on #12
I'm definitely flying blind on the above mentioned parameters right now, so it would be great to get them printed out somewhere. But while we're at it, since they're just reads from the contracts, we may as well expose all parameters:

roundLength
roundLockAmount
unbondingPeriod
numTranscoders
numActiveTranscoders
verificationRate
verificationPeriod
slashingPeriod
failedVerificationSlashAmount
mis

[2018-01-10 20:10] jozanza commented on #12
Great, I'll work on adding these into the [@livepeer/sdk](https://github.com/livepeer/livepeerjs/tree/master/@livepeer/sdk) 👍

We may also want to develop some sort of struct for a `ProtocolOverview` and/or `RoundOverview` that can return the salient data points in a single request instead of 10+. @dob @yondonfu

[2018-01-10 23:39] dob commented on #14
Right now the address view at `/me` shows "deposit LPT". Deposits are now in ETH instead of LPT.

[2018-01-11 00:37] jozanza commented on #14
That button got updated in 30855ef

[2018-01-11 00:40] jozanza commented on #18
`deposit()` has been updated to use ETH instead of ERC20 token approval/transfer.

The Delegator schema has been updated to reflect to renaming of `unbondedAmount` to `fees`.

[2018-01-17 17:35] jozanza commented on #22
@dob Can you add some steps to reproduce this issue?

[2018-01-17 21:52] dob commented on #22
Sure...

1. Visit https://media.livepeer.org/channels/0x5A4a992c26CbA8459Ec0d77f4c66216D2a8Fd18F while I am not broadcasting

2. Start broadcasting via the local node with that address

3. Immediately refresh the player.

4. The player first has a play button in the middle with a black background, then appears entirely blank. The JS console shows the errors shown at this link:

(Note that the JS c

[2018-01-18 15:34] dob opened #23 "media.livepeer.org won't load on Brave Browser mobile"
For some reason the Brave Browser on mobile won't load media.livepeer.org. It just looks like it's freezing while connecting for awhile and then gives up.

It works on brave desktop.

[2018-01-18 21:56] jozanza commented on #22
Right on. I was totally able to reproduce this locally. After a lot of investigating, I'm pretty sure it's being caused by this issue in hls.js: https://github.com/video-dev/hls.js/pull/1466

Luckily, it looks like it just merged into their `master`branch a few days ago, so I'll see if using their latest distro solve the issue.

[2018-01-22 21:27] jozanza commented on #20
@watchcoin, this should be fixed by https://github.com/livepeer/livepeerjs/commit/a1cd9c2d0598a3467a18472737f00491efb72e80

[2018-01-22 21:31] jozanza commented on #21
All the custom logic is gutted now. The bug in the node that was working around is resolved now (https://github.com/livepeer/go-livepeer/issues/224). This issue should be fixed by https://github.com/livepeer/livepeerjs/commit/a1cd9c2d0598a3467a18472737f00491efb72e80

[2018-01-22 21:34] jozanza commented on #22
It seems part of what causes this issue is the availability of the levels (various profiles) when the stream manifest is first requested. Another issue was the hls.js issue referenced above. I updated to a version of hls.js with the fix and rewrote all of the stream handling logic to be far more robust (https://github.com/livepeer/livepeerjs/commit/a1cd9c2d0598a3467a18472737f00491efb72e80).

Unfor

[2018-01-22 21:39] jozanza commented on #4
Folks can now run this project locally and configure the "stream root url" is now via `.env` files (https://github.com/livepeer/livepeerjs/commit/56d7c3f835de8db8450f0b0a24e9fbcb13112334). You can read more documentation [here](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-development-environment-variables-in-env). I've been using it exte

[2018-01-22 21:39] #4 closed

[2018-01-22 22:13] jozanza opened #24 "Deploy the protocol explorer"
@dob @ericxtang @yondonfu https://explorer.livepeer.org sound good to you guys?

[2018-01-22 22:20] dob commented on #24
Yes!

[2018-01-22 22:31] yondonfu commented on #24
🚀

[2018-01-22 23:46] jozanza commented on #24
Woo this is done! You can see it at https://explorer.livepeer.org

But I'm going to avoid making a big announcement as I would to to take some time to do some QA with the team and fix any major issues first. MetaMask vs no MetaMask / http vs https seems to consistently cause small bugs and ux issues. I'd love help reporting any bugs!

[2018-01-22 23:46] #24 closed

[2018-01-22 23:55] ericxtang opened #25 "Account Selection Doesn't Work When Using Metamask"
When Metamask is enabled, account search functionality will appear to be showing the account you searched for, but the information shown is for the account selected in Metamask

[2018-01-23 16:08] dob opened #26 "Network and address status indicators in explorer"
This is a small feature request. Not highest priority.

I think that if the explorer is using some state about the user derived from an extension like Metamask, the UI should give them some sense of this. For example it should display what network they're connected to (Livepeer Testnet), and what their current address is. The address should perhaps be clickable to take them to their account addres

[2018-01-23 16:17] dob opened #27 "Explorer Transcoding View: Block reward cut and pending block reward cut should be given in %, not LPT"
The following issues reference the transcoder view for an address in the explorer:
https://explorer.livepeer.org/accounts/0xFeBF35b94e16E018Ab5cA9aA1f66aaC1a1AB29E0/transcoding

Viewable in this screenshot:
https://cl.ly/3C320Y2z1c2P (note that the address in the screenshot is different than above because it was using my local metamask address reported in issue #25)

## Expected Behavior
I expect

[2018-01-23 16:20] dob opened #28 "Explorer Transcoding View: Fee shares are off"
The following issues reference the transcoder view for an address in the explorer:
https://explorer.livepeer.org/accounts/0xFeBF35b94e16E018Ab5cA9aA1f66aaC1a1AB29E0/transcoding

Viewable in this screenshot:
https://cl.ly/3C320Y2z1c2P (note that the address in the screenshot is different than above because it was using my local metamask address reported in issue #25)

## Expected Behavior
I expect

[2018-01-23 16:24] jozanza commented on #14
Closed by https://github.com/livepeer/livepeerjs/commit/1df196f5283c1c1e9dc24d4303eb586bfef86d05

[2018-01-23 17:32] #25 closed

[2018-01-23 18:11] rayj00 opened #29 "Running YARN in Ubuntu 16.04.3 fails for livepeerjs"
#### New Issue Checklist

- [x] I made sure the issue observed is not already reported by searching on Github under https://github.com/livepeer/livepeerjs/issues
- [x] I have filled out all relevant sections of this issue template

#### Expected Behavior

...

#### Current Behavior

Running yarn should install all of the dependencies I will need to run the Livepeer Player locally.
The YARN command

[2018-01-23 20:13] jozanza commented on #28
Fixed by https://github.com/livepeer/livepeerjs/commit/9e14e696a89282635669c80913f2964eea949e64

[2018-01-23 20:13] #28 closed

[2018-01-23 20:14] jozanza commented on #27
Fixed by https://github.com/livepeer/livepeerjs/commit/9e14e696a89282635669c80913f2964eea949e64

[2018-01-23 20:14] #27 closed

[2018-01-23 23:37] dob opened #31 "Explorer delegate view missing data for last claim round, start round, withdraw round"
This issue references: https://explorer.livepeer.org/accounts/0x5A4a992c26CbA8459Ec0d77f4c66216D2a8Fd18F/delegating

#### Expected Behavior
I expect to see 12736 as last claim round, and 12737 as start round.

#### Current Behavior
I see both as 0. It's unclear to me whether withdraw round is being pulled correctly, as it displays 0 as well, however that's also the correct value.

#### Possible So

[2018-01-23 23:50] jozanza commented on #26
This one's a bit tricky since web3 apparently doesn't actually expose any url info about the provider. (Please let me know if I'm wrong about that).

But I should at least be able to indicate whether the provider is being set by MetaMask or not.

[2018-01-24 00:12] yondonfu commented on #26
`web3.version.network` https://github.com/ethereum/wiki/wiki/JavaScript-API#web3versionnetwork might help with the displaying the network name (it returns the network ID).

[2018-01-24 20:11] jozanza commented on #26
@yondonfu do you know if there's any way a url can be derived from the `web3.version.network`? It seem to only return an integer.

[2018-01-24 20:17] yondonfu commented on #26
I'm not aware of a way to derive a provider URL, but you could derive the network name from the network ID: https://ethereum.stackexchange.com/questions/17051/how-to-select-a-network-id-or-is-there-a-list-of-network-ids We're using 858585 for our test network

[2018-01-24 21:54] jozanza commented on #26
I did some digging, and it look like these are the names and addresses of a few of the most common public networks, as well as our own:
[code]
Any others we should add? Or should we remove any?

[2018-01-24 21:57] jozanza commented on #29
Looks like the installation completed, but the build failed. Seems like there's a syntax error on your command line. Must be an incompatibility between the shell on your OS and mine (OSX). For now, here's a workaround. From the root dir run the following:

[code]

I'll look into correcting that syntax error.

[2018-01-24 22:09] rayj00 commented on #29
Thanks Josiah.  Yep the work around worked as we proved last night.
Looking forward to the fix for the original YARN procedure.

[2018-01-24 22:32] #31 closed

[2018-01-24 22:44] dob commented on #26
Looks good to me!

On Wed, Jan 24, 2018 at 4:54 PM, Josiah Savary <notifications@github.com>
wrote:

[2018-01-24 23:34] jozanza commented on #26
Cool. The current network is shown on the landing page now. I’ll work on adding the current account + profile link soon!

[2018-01-25 20:30] dob commented on #12
A computed piece of data that would be really helpful in the protocol view (and also potentially in the transcoder view), is whether or not we're currently in the roundLockPeriod. During this time (currently set as the last 10% of blocks in a round), transcoders can not change their rates or declare their candidacy. This gives delegators a chance to review and delegate knowing that a transcoder ca

[2018-01-29 22:04] jozanza commented on #29
Hopefully, [this commit](https://github.com/livepeer/livepeerjs/commit/96051489d2717028063908ccf5cddc02b7917de1) fixes the issue. Mind doing a `git pull && yarn` to test it out @rayj00?

[2018-01-29 23:35] jozanza opened #32 "Publish packages to npm"

[2018-02-01 15:57] jozanza commented on #29
Closed by https://github.com/livepeer/livepeerjs/commit/294d6268d9af0dc0e3893732e2a56fde89929359

[2018-02-01 15:57] #29 closed

[2018-02-05 15:59] #26 closed

[2018-02-06 16:38] dob opened #33 "Explorer - Pending price, reward cut, fee share are more important in transcoder election view than active values"
In the [transcoder election view](https://explorer.livepeer.org/transcoders) in the explorer, seeing the pending values is more important than the active values, since these are the ones which will be active next round that you can actually make decisions on.

If both values can't fit in the UI, then I'd propose displaying the pending values instead of the active values. But I'm open to debate in

[2018-02-12 22:50] ericxtang opened #34 "Bonding to an arbitrary address"
We should allow token holders to bond to an arbitrary address (an address not in the transcoders list).  This is useful when a brand new transcoder is campaigning to replace one of the current transcoders when the transcoder set is full.

[2018-02-13 21:27] jozanza commented on #15
The first pass implementation has been deployed to https://explorer.livepeer.org :shipit:

[2018-02-13 21:42] jozanza commented on #34
Good call. Related to https://github.com/livepeer/protocol/issues/191

[2018-02-13 22:24] jozanza commented on #35
That is actually, the expected behavior at the moment. But it's definitely not great. Mostly, it's a result of creating something shippable for the "bonding experience" within the time frame of a single sprint. In the future, the features will be a little more thought-through by doing some basic amount of UX design/research before moving into the implementation.

As I go through the exercise of an

[2018-02-15 19:30] ericxtang opened #36 "Update SDK to Rinkeby protocol"
#### New Issue Checklist

- [ ] Re-generate protocol SDK according to the latest version (deployed on Rinkeby)

Let's deploy this after EthDenver and after we deploy the same version onto our own testnet.

[2018-02-15 19:36] jozanza commented on #36
If we are planning on keeping the testnet/rinkeby ABIs in-sync, it might also be good to add a new option to specify the Controller address, when constructing an sdk instance. Right now, the Controller address is baked into the ABI artifacts checked into the repo: https://github.com/livepeer/livepeerjs/blob/master/%40livepeer/sdk/etc/Controller.json#L204

[2018-02-15 20:00] jozanza commented on #32
Done! https://www.npmjs.com/org/livepeer/

[2018-02-15 20:00] #32 closed

[2018-02-21 20:35] #36 closed

[2018-02-27 04:27] ericxtang opened #39 "User flow for "Withdraw Stake", "Withdraw Fees", "Claim Earnings""
@jozanza has created the initial user flow for "withdraw stake", "withdraw fees", and "claim earnings".

[Delegation.pdf](https://github.com/livepeer/livepeerjs/files/1761225/Delegation.pdf)

Let's all provide some feedback.

[2018-02-27 04:35] ericxtang commented on #39
I like where this is going.

I think the round initialization indicator is good, and the claim earnings message makes sense.  For the withdraw buttons, what do you think about making them always visible, but in an "active" or "inactive" state?  In addition to that, users might need explanations on "why" the buttons are inactive.

[2018-02-27 15:23] yondonfu commented on #39
I like the task flow diagrams! I think they might even be helpful to post as developer resources in addition to being used for designing the explorer UX.

Nav Bar
- I like the indicator next to “My Account” to signal to the user that there is some action that she should take by clicking the “My Account” button to navigate to the “Overview” page. Perhaps the color of the indicator should be somethi

[2018-03-06 19:50] jozanza opened #42 "Livepeer Academy - Intro To The Livepeer Protocol Explorer: Thursday, Mar 8. 8AM PST, 11AM EST, 5PM CET"
# Intro To The Livepeer Protocol Explorer

### 📆 Thursday, Mar 8. 8AM PST, 11AM EST, 5PM CET

[The Livepeer Protocol Explorer](https://explorer.livepeer.org) is a dApp that helps users interact with and see what's going on inside of the protocol. In this ~1h call, I'll give an overview of project, show how to run it, and how you can contribute :octocat:.

If you're interested in building apps with

[2018-03-08 16:32] yondonfu opened #43 "Changing signing module to make sure there is replay protection"
#### Expected Behavior

There should be replay protection for signed transactions so that they cannot be replayed on different networks once they are submitted on one network.

#### Current Behavior

Seems like `ethjs-signer` is used as the package for signing transactions in the SDK, but according to its README it currently DOES NOT have replay protection so it should not be used in a production

[2018-03-08 17:05] jozanza commented on #43
Good catch, @yondonfu. I can work on switching that over very soon. Luckily, the explorer relies on MetaMask to submit transactions, so it's not a vulnerability for anything we have deployed currently 👍

[2018-03-08 17:49] dob opened #44 "Chroma: Streams freeze in fullscreen mode"
#### Expected Behavior
In fullscreen mode the stream should advance after buffering, or start playing again when a new stream is discovered.
...

#### Current Behavior
Currently when the stream "freezes" in fullscreen mode, it never advances, even if the stream is working fine in other browsers. If you exit fullscreen mode and refresh the page, then the stream resumes fine. I also have a suspicion

[2018-03-09 15:44] #42 closed

[2018-03-09 20:19] nicolasburtey opened #45 "Link to report issues"
It could be useful to have a link in the footer of https://explorer.livepeer.org linking here, to encourage ppl to report bugs and provide feedback.

[2018-03-09 20:22] nicolasburtey opened #46 "Ethereum network name"
If you metamask is not set to Rinkeby, the app will still work but most of the info will be empty.

Either showing the network name provided by Metamask/web3js, or showing a warning if it's not on Rinkeby could be useful to the user.

[2018-03-13 20:41] jozanza commented on #46
@nicolasburtey Thanks for filing this issue. I think this will be an enhance I can work on adding sometime after the next couple weeks.

[2018-03-13 20:45] jozanza commented on #45
Good suggestion.

[2018-03-13 20:47] jozanza commented on #39
Since these actions are now available in the explorer UI, I'm going to close this thread, and we can follow up with more specific issues concerning the usability of these interactions if we want to discuss enhancements or bugs.

[2018-03-13 20:47] #39 closed

[2018-03-15 13:45] dob opened #47 "Explorer: Add transcoder to the job history view in the broadcasting tab of a user account?"
When people are broadcasting/testing/debugging they often have the question as to which transcoder was assigned to a specific broadcast. I believe we have enough information on chain to make the determination offchain and add it as a clickable link in the UI - in the job history area of the broadcasting tab of the account view.

Totally open to other options of exposing this data if we don't think

[2018-03-15 16:18] dob commented on #47
Another option is to explore the "Job" view as the next entity. There's lots we want to know about a job:

* ID
* Transcode Profiles
* Price offered
* Broadcaster who created it
* Transcoder assigned
* Segment claims
* Verifications on those claims succeeded or failed
* Payments claimed

So perhaps rather than adding this within the broadcaster job history tab, we make those jobs clikcable link in

[2018-03-15 19:06] nicolasburtey opened #48 "statistics"
Is there any statistics regarding how many people access https://media.livepeer.org?

I think of something like Google Analytics (GA) that could be used to monitor basic metrics such as :
- how many people connect to https://media.livepeer.org
- how long do they watch videos
- how many "not found" type of event users see on average

Ideally, the access to the statistics could be open for anyone to

[2018-03-15 19:33] dob commented on #48
Yes, definitely would be helpful to have insight into these. When we've discussed before it's always come down to user privacy and decentralized ideals vs the benefits that these would provide.

Since we're hosting the site and running nodes in order to serve this content, it seems reasonable that analytics could be included. I'd feel better about it if the code that activated the tracking would o

[2018-03-16 14:50] jozanza commented on #47
@dob I like the idea of a job since most of the information beyond what's shown in the job history list would require additional requests. Also, people might want to share links to directly to a specific job.

[2018-03-20 15:46] chrishobcroft commented on #49
![image-1](https://user-images.githubusercontent.com/2212651/37665741-370467fc-2c5e-11e8-9b03-32f9f33a26b3.jpg)

[2018-03-20 16:06] jozanza commented on #49
Yeah, actually, we're using [hls.js](https://github.com/video-dev/hls.js) for playback in the chroma video player on desktop. Once the manifest is parsed, it should log out the different transcoding levels it found and which one it will play ([code here](https://github.com/livepeer/livepeerjs/blob/master/%40livepeer/chroma/src/VideoPlayer/index.js#L383)). hls.js, then automatically adjusts the lev

[2018-03-27 22:22] chrishobcroft commented on #49
So, how can I configure ingest1 to transcode into different formats for me?

I usually stream in 1920x1080 (although sometimes also in 1920x1280, 1620x1080, 1280x720, 1080x1920) so perhaps it can resize the stream, and then through the explorer it can publish the available resized formats.

We can then present these resized formats to the user to select in media.livepeer.org/embed

[2018-03-28 14:51] dob commented on #48
I wanted to re-open this discussion with a proposal:

**Add Google Analytics to the media.livepeer.org hosted pages**

The benefits of having visibility into user statistics and behavior are clear. But it also comes with certain potential downsides with regards to centralized tracking being potentially at odds with the philosophical aspects of decentralization, and putting users in control of thei

[2018-03-29 17:12] RaffiSapire commented on #48
Spoke w Josiah about setting up analytics today and that was focused on livepeer tv, not media.livepeer.org. This is because we're hoping to answer the question, what role does livestreaming our own content play in helping us achieve our goals during the snowmelt phase. Wondering if we can use analytics to get to a point where we can show that, for example, livepeertv has x% level of engagement, a

[2018-03-30 12:35] rayj00 commented on #49
Would this work?  https://www.w3schools.com/html/html_responsive.asp

[2018-04-04 21:53] jozanza commented on #48
Added Google Analytics to [the player](https://github.com/livepeer/livepeerjs/blob/master/packages/player/src/index.js#L43)

[2018-04-04 21:53] #48 closed

[2018-04-10 19:50] jozanza commented on #49
@rayj00 That's not quite what's going on here. Although responsive styling would make the video smaller in the viewport, it would still be the same bitrate and consume the same bandwidth. It's more of a matter of making sure the frontend is requesting the right m3u8 manifest and that the manifest contains all of the bitrates levels available so the player knows what bitrates it can select.

[2018-04-10 19:53] jozanza commented on #38
Closing this since the relevant discussion is taking place in #49

[2018-04-10 20:07] jozanza commented on #35
The UI now proactively warns a user about this. Further UX improvements can always be made, but I will close this issue so those improvements can be discussed in their own separate issues.

[2018-04-10 21:15] ericxtang commented on #49
Good discussion here. A lot of players implement their own ABS algorithm.  For example, JWplayer always starts with the lowest bitrate, and tries to switch up higher bitrate if the buffer fills up quickly.  Also good to note that video startup time is one of THE most important metrics people track in the video world - https://mux.com/blog/the-video-startup-time-metric-explained/

[2018-04-10 21:30] jozanza commented on #49
Exactly. We use hls.js (and native when support is available), which implements it's own ABS algorithm.

Our current issue is that the m3u8 manifests the player requests only ever seem to contain one level. It's likely being caused by one of the following:

- The manifest being served is missing some transcoded levels
- The jobs being created only have a single
- The frontend is requesting the ori

[2018-04-10 21:42] ericxtang commented on #49
Currently streams in the test network are not being consistently transcoded.  Part of it is due to the fact that a lot of registered transcoders are actually not running.  If the stream doesn't get transcoded, the manifest has only a single bitrate level.  But for the streams that DO get transcoded, we get 3 different bitrates.  In that case, I'm not sure what the frontend is requesting at this po

[2018-04-10 21:54] jozanza commented on #49
What I'm seeing is that requests to `https://<STREAM_ROOT_URL>/streams/<MANIFEST_ID>.m3u8` respond with a playlist containing a single bitrate (I haven't actually encountered a playlist with multiple bitrates yet). That url then gets passed as a source to the player, which where an hls.js or native ABS algorithm is applied.

So, on my end, I can do some testing to see if the player applies ABS whe

[2018-04-20 20:43] j0sh commented on #52
A lazy way to fix this for now would be to set `overflow:scroll` in the flexbox div.

[2018-04-20 21:37] jozanza commented on #52
Great find, @j0sh! I hate to be a stickler, but do you mind updating your initial comment to match the [ISSUE_TEMPLATE](https://raw.githubusercontent.com/livepeer/livepeerjs/master/ISSUE_TEMPLATE.md)?

[2018-04-21 21:54] #43 closed

[2018-04-26 18:42] chrishobcroft commented on #23
Also on Chrome on Android

[2018-04-30 21:54] jozanza commented on #46
![screen shot 2018-04-30 at 5 52 29 pm](https://user-images.githubusercontent.com/740794/39452213-6cb7e0a2-4c9f-11e8-9597-acd6a38f9c89.png)

This update is live on https://explorer.livepeer.org

[2018-04-30 21:54] #46 closed

[2018-05-02 15:40] j0sh commented on #57
Maybe the default price unit should be in gwei rather than wei?

[2018-05-02 19:34] jozanza commented on #59
Fixed by e777536c5aee5d5781ebab4b036e01dbbc184f42

(https://github.com/livepeer/livepeerjs/commit/e777536c5aee5d5781ebab4b036e01dbbc184f42#diff-168f7607e9231d79576400718086977eR177)

This fix has been pushed live to https://explorer.livepeer.org.

[2018-05-02 19:42] jozanza commented on #60
Fixed by https://github.com/livepeer/livepeerjs/commit/e777536c5aee5d5781ebab4b036e01dbbc184f42#diff-edd79cdc35bc75a50b93d9a86918747cR30

[2018-05-03 16:56] jozanza commented on #58
Thanks for bringing this up @j0sh! It's been on the back of my mind to write up some clarification on this for a while.

The explorer is meant to be a user-facing DApp for sharing livestreams. It's not meant to be a developer HLS debugging tool. And since there are already many many pre-existing solutions for debugging HLS playlists, I'd suggest using one of the following approaches as an alternat

[2018-05-03 16:57] jozanza commented on #3
I'm going to close this one out since I just made a comment about this on another issue: https://github.com/livepeer/livepeerjs/issues/58

[2018-05-03 16:57] #3 closed

[2018-05-03 17:07] jozanza commented on #56
Okay, if you can provide a screen recording or any additional details steps to reproduce, that would be helpful. Otherwise, if I can't actually get this to happen, I'll probably out close this issue and we can feel free to reopen whenever it's reproducible 👍

[2018-05-06 04:35] jozanza commented on #62
@adamsoffer's PR should take care of this one 🎉

[2018-05-06 12:55] dob commented on #66
I currently get this information by going to Etherscan for a transcoder (example https://etherscan.io/address/0x97bf5d1b06ebe4d97a6e53353973205c611b4677), and then clicking through the txns to see if it happened to be a call to reward.

[2018-05-06 16:33] jozanza commented on #63
@chrishobcroft do you mind updating your initial comment to match the [ISSUE_TEMPLATE](https://raw.githubusercontent.com/livepeer/livepeerjs/master/ISSUE_TEMPLATE.md)?

[2018-05-06 16:42] jozanza commented on #23
@chrishobcroft gave just created a newer version of this issue with the ISSUE_TEMPLATE format, so I'm going to close this issue and we can track this problem in https://github.com/livepeer/livepeerjs/issues/64

[2018-05-06 16:42] #23 closed

[2018-05-07 03:31] jozanza commented on #61
I started addressing this issue yesterday. To start off, the explorer will now skip approval transactions for bonds where the amount is omitted. ([view commit](https://github.com/livepeer/livepeerjs/commit/ecd9805866caac8a96f1f2d3100ee591242b5ae9#diff-b2aec6fea59b33ff264b168f768feb39R57))

[2018-05-07 03:37] jozanza commented on #54
I started addressing this issue yesterday. To start off, the explorer will now skip approval transactions for bonds where the amount is omitted. ([view commit](https://github.com/livepeer/livepeerjs/commit/ecd9805866caac8a96f1f2d3100ee591242b5ae9#diff-b2aec6fea59b33ff264b168f768feb39R57))

[2018-05-07 04:32] jozanza opened #67 "Change routing for account page in the explorer so users can share the URL in their address bar"
**What's the problem? (required)**
I can't easily get a shareable url for my account page in the https://explorer.livepeer.org.

**What's the current behavior? (required)**
The explorer url path is always `/me/{something}` when I view my account.

**Do you have any personal experiences dealing with this problem? (optional)**
I have to manually type out the link to my profile (`https://explorer.liv

[2018-05-07 04:36] jozanza commented on #34
If this feature is combined with #67 , then I think transcoders will have a much nicer experience campaigning :)

[2018-05-07 16:08] dob opened #68 "Explorer: Display transcoder workload"
**What is this discussion about? (required)**
Delegators should see some indication about how much work a transcoder has performed when deciding whom to delegate towards.

**What do you hope to learn by the end of this discussion? (required)**
This is one of three useful pieces of information that I think delegators need right now. In priority order:

1. Does a transcoder consistently call reward?

[2018-05-07 16:12] dob opened #69 "Explorer: Display faults/slashes for a transcoder"
**What is this discussion about? (required)**
The number of instances that a transcoder has been slashed should be displayed to delegators.

**What do you hope to learn by the end of this discussion? (required)**
We should decide how to best indicate to delegators how often a transcoder has committed a fault and been slashed.

This is one of three pieces of missing information along with #66 and #

[2018-05-08 16:00] jozanza commented on #70
It seems like this issue may have been caused by the browser caching the old response for the playlist you were requesting. I'm going to close this one.

[2018-05-08 16:25] dob opened #72 "Add "Pending Stake" to the explorer"
**What's the problem? (required)**
"Pending Stake" is not viewable in the explorer. Users want to know how much token they've earned that they're entitled to when they claim().

**What's the current behavior? (required)**
It's not visible anywhere.

**Describe a possible solution you've considered (optional)**
The CLI shows a "Pending Stake" value, which I assume does some quick calculation based

[2018-05-08 19:41] rayj00 commented on #70
Ok, I made a change to the following Chrome flag: chrome://flags/#autoplay-policy
Original value: DEFAULT(edited)
New Value: No User Gesture Required.
That seemed to fix it.   I don't know why this wasn't an issue previously?   I have never messed with any of the Chrome flags before.

[2018-05-10 14:51] jozanza commented on #70
Closed by c4fe82cb3527549eaa8858b19cc9312ac8999b9d

[2018-05-11 17:03] jozanza opened #74 "Add Windows instructions to CONTRIBUTING.md and README.md"
**What's the problem? (required)**
Windows users may experience problems running LivepeerJS scripts on their OS using the native shell.

**What's the current behavior? (required)**
Lots of errors :(

**Do you have any personal experiences dealing with this problem? (optional)**
I'd like contributors to get started easily without dealing with a ton of issues.

**Describe a possible solution you've

[2018-05-11 17:09] jozanza commented on #74
Let's add "unix shell" in this section as a requirement for Windows users only.

![screen shot 2018-05-11 at 1 03 47 pm](https://user-images.githubusercontent.com/740794/39936851-cbb4f9d0-551b-11e8-9cec-a2765c74a00d.png)

And let's also add a "How can I run LivepeerJS on Windows?" section to the [**FAQ** ](https://github.com/livepeer/livepeerjs/blob/master/CONTRIBUTING.md#faq). It should say that

[2018-05-11 20:45] jozanza opened #75 "Submitting incorrect _endRound while trying to claim earnings"
**Describe the bug (required)**
The explorer sometimes fails claim earnings transactions because it submits the wrong `_endRound`.

**Expected behavior (required)**
Earnings should be claimed successfully because the `_endRound` submitted ought to be correct.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to your account page
2. Click on the delegating tab
3. Scroll down to "u

[2018-05-12 00:06] #74 closed

[2018-05-12 00:46] jozanza opened #77 "Document @livepeer/apollo"
**What's the problem? (required)**
https://github.com/livepeer/livepeerjs/tree/master/packages/apollo has no documentation

**What's the current behavior? (required)**
The README is pretty sparse

**Do you have any personal experiences dealing with this problem? (optional)**
Explaining the package to every contributor can be time-consuming and it's best practice on Github to put any critical info

[2018-05-12 01:11] jozanza opened #78 "Document @livepeer/chroma"
**What's the problem? (required)**
https://github.com/livepeer/livepeerjs/tree/master/packages/chroma has no documentation

**What's the current behavior? (required)**
The README is pretty sparse

**Do you have any personal experiences dealing with this problem? (optional)**
Explaining the package to every contributor can be time-consuming and it's best practice on Github to put any critical info

[2018-05-12 03:16] #67 closed

[2018-05-12 09:38] iSasFTW commented on #72
Just looked through some of the go-livepeer code, and it looks like getting the pendingStake is the job of the bondingManager contract.

It should be relatively simple to just retrieve the data, but i couldn't find out what address the contract is deployed to on the network.

[2018-05-12 09:59] iSasFTW commented on #72
Okay, found the contract addresses. Looks like it wants the _delegatorAddress and _endRound values to get the pending stake. Delegator address should be pretty simple (just get the web3 account the user is using, right?), but i'm not sure about endRound. I guess it is available somewhere in the explorer code. Will take a look a that later 👍

[2018-05-12 11:51] iamonuwa commented on #40
Hey @jozanza This issue says "add embed button" but didn't say whether the iframe should be displayed in a dialog or output of the page

[2018-05-12 11:57] dob commented on #72
@iSasFTW it should be the current round, which is available in the RoundsManager contract via the `currentRound()` function.

[2018-05-12 13:31] jozanza commented on #72
@iSasFTW you should familiarize yourself with the graphql-sdk package. The documentation clearly describes the schemas available via graphql queries, and most of the requires info should already be in the scope of the Transcoders view.

[2018-05-13 12:01] iSasFTW commented on #7
How about letting it get truncated, but adding some css to the element so it wraps on hover?

[2018-05-13 14:14] jozanza commented on #7
Good question. It does get truncated. And double-clicking still copies the entire stream id. It’s an edge case that someone would even need to do this anyways. The stream id is also available in the explorer. I’ll just close this one out.

[2018-05-13 14:14] #7 closed

[2018-05-14 15:42] #34 closed

[2018-05-14 15:42] #45 closed

[2018-05-14 17:41] iamonuwa commented on #71
@eswarasai are you still working on this task?

[2018-05-14 17:54] eswarasai commented on #71
@iamonuwa -- Yep. I'll submit a PR for this in a day or 2. Thanks!

[2018-05-17 00:03] eswarasai commented on #71
@dob -- I've hard coded gas limit to the suggested values for `Approve` and `Bond` transactions. Are there any other transactions for which you'd like me to hard-code as well?

[2018-05-17 01:03] dob commented on #71
@eswarasai that’s great. I think those are the two most important and predictable ones.

[2018-05-17 16:54] dob opened #84 "Claim earnings slider doesn't work in Toshi"
**Describe the bug (required)**
Reporting on behalf of a delegator who emailed me the bug...

**Expected behavior (required)**
Expect the submit and cancel button to be responsive to touch and to invoke the transaction.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Stake token toward a transcoder.
2. Wait 1 round
3. Visit your account's /delegating page
4. Claim your stake and f

[2018-05-17 17:08] jozanza commented on #82
If you switch accounts while on "My Account" page, it doesn't update the address in the url, so actually, you're still viewing your previous "My Account" page. This is different from past behavior, however, where it would automatically redirect the user back to their account page. We should restore that redirect behavior 👍

[2018-05-17 17:11] jozanza commented on #63
I'm going to close this issue. Reopen if this is still a bug and you've updated the issue description to fit the [bug report issue template](https://raw.githubusercontent.com/livepeer/livepeerjs/master/.github/ISSUE_TEMPLATE/Bug_report.md)

[2018-05-17 18:15] jozanza opened #86 "Test ticket from Code Climate"

[2018-05-17 18:15] #86 closed

[2018-05-17 18:17] jozanza opened #87 "Reduce lines of code in packages/explorer/src/components/TranscoderCard.js"
**What is this discussion about? (required)**
Refactoring the TranscoderCard

**What do you hope to learn by the end of this discussion? (required)**
I want to find an approach for reducing the lines of code in the module.

**Additional context**

File `TranscoderCard.js` has 318 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/livepeer/livepeerjs/packages

[2018-05-17 18:18] jozanza commented on #87
We can probably move the Tooltip component into its own module

[2018-05-17 18:19] eswarasai commented on #17
So should I be replicating the UI/UX of the `explorer` for the `player` as well?

[2018-05-17 18:26] eswarasai commented on #17
Cool. Will soon create a PR for this and update it here :)

[2018-05-17 18:36] jozanza commented on #87
@eswarasai Sure! Feel free to make a PR for this, and we can review it.

[2018-05-17 19:29] eswarasai commented on #44
FYI: Will pick up this bounty if at all I'm able to reproduce the issue. Thanks!

[2018-05-17 21:56] jozanza commented on #84
Thanks for looking into this @jackningdl! If you have any questions, feel free to comment here or jump into our [Discord chat](https://discord.gg/WQ4DgZc)

[2018-05-17 23:17] j0sh commented on #87
I'd also say that "250 lines of code allowed per file" is rather arbitrary and doesn't make sense in a lot of contexts. Scattering code across dozens of files has its own cost too. YMMV 🤷‍♂️

[2018-05-21 00:07] hugomarisco commented on #82
I can work on this if no one else is already on it.

I'm trying to check how to detect when a redirection to `/me` should be triggered. The `AccountView` is a stateless component so I can't use `componentWillReceiveProps` to compare the new/old `userAddress` and redirect.

Another way is to actually render the `Account` view on `/me` and don't rely on redirections at all.

@jozanza do you have any

[2018-05-21 15:49] jozanza commented on #82
Yeah you'll want to take a look at this callback: https://github.com/livepeer/livepeerjs/blob/master/packages/explorer/src/index.js#L103

[2018-05-21 17:08] vs77bb commented on #84
Hi @jackningdl how is it going here? Usually on Gitcoin, it's helpful to get a WIP PR in over the first week or so to receive some feedback on your approach. Hope all is well 😄

[2018-05-22 01:30] jackningdl commented on #84
Hi there, it is actually my first time work on a real smart contract issue. I don’t know if it is convenient for you so I have quitted. But if there is opportunity for me to be carried, I will appreciate it and come back.
Thanks
Dafei

[2018-05-25 18:54] vs77bb commented on #84
@jozanza Looks like this might be ready for your review. Quick work, @hugomarisco!

[2018-05-25 19:41] #84 closed

[2018-05-25 22:58] jozanza commented on #44
@KennethAshley http://livepeer.tv

[2018-05-25 23:04] arthurk opened #92 "Transcoders page doesn't show content when MetaMask is connected to private network"
Hi,

the Transcoders page at https://explorer.livepeer.org/transcoders doesn't show any content when MetaMask is connected to a private local network.

Steps to reproduce:

1. Switch MetaMask Network to "Localhost 8545"
2. Reload the page

There is just a blank page, it would be nice if there was an error.

[2018-05-26 12:17] dob opened #93 "Explorer homepage search box/functionality is broken"
**Describe the bug (required)**
The address search box on explorer.livepeer.org homepage is broken. You can't search.

**Expected behavior (required)**
Fill in an address, hit "return" or click "search" button, and it should take you to the account view for that address. Instead nothing happens, and you can't progress to the account view.

**To Reproduce (required)**
Steps to reproduce the behavio

[2018-05-26 15:47] #93 closed

[2018-05-27 17:46] ericxtang opened #94 "New Protocol Restriction: Active Transcoders Cannot Bond To Another Transcoder"
**What's the problem? (required)**
We just deployed a new protocol change that prohibits active transcoders from bonding to another transcoder.

**What's the current behavior? (required)**
Currently active transcoders can bond to another transcoder in the explorer.  After the protocol upgrade, transactions like this will fail.

**Additional context**
We should disallow transcoders from bonding to

[2018-05-29 15:21] ericxtang opened #97 "Dynamically detect protocol is paused, and put up "protocol paused" modal"
**What's the problem? (required)**
Currently the protocol explorer doesn't know when the protocol is paused.  When users use the explorer during protocol pause, all transactions fail.

**What's the current behavior? (required)**
Not able to detect paused protocol

**Describe a possible solution you've considered (optional)**
Protocol explorer can detect when the protocol is paused, warn users, and

[2018-05-30 01:30] #75 closed

[2018-05-30 19:35] jozanza commented on #97
@ericxtang What contract / method would be used to query for whether or not the protocol is paused?

[2018-05-30 19:52] dob opened #100 "Link to transcoder campaigns on /transcoders view of explorer"
**What's the problem? (required)**
There is currently no link between a transcoder and their social transcoding campaign accessible to users on http://explorer.livepeer.org/transcoders.

**What's the current behavior? (required)**
There is no link. Users have to browse through the forum and visually parse addresses to determine which campaign is for which transcoder.

**Do you have any personal ex

[2018-05-30 19:54] yondonfu commented on #97
The Controller contract has a `paused()` getter that will return `true` if the system is paused and `false` if the system is not paused.

[2018-05-30 20:03] jozanza commented on #100
@dob Great idea. We absolutely need this. Do we have some smart contracts deployed for this registry and some ABIs I can use? I'd much rather take that approach.

[2018-05-30 21:04] ericxtang commented on #100
This feels related to https://github.com/livepeer/LIPs/issues/6, which I know @yondonfu is working on.  Any chance we can satisfy both requirements in the same change?

[2018-05-30 21:06] jozanza commented on #100
@ericxtang I don't know if it's the greatest idea to tie social smart contracts with business-logic token/network related smart contracts. I'd like the flexibility to upgrade social contracts without risk to critical ones that affect token balances and may require auditing.

[2018-05-30 22:36] jozanza commented on #100
@yondonfu I'm thinking the underlying need for this issue is not "transcoder meta data" but rather "social meta data", primarily for DApps (not networking protocols) that exist today and could also in the future. For example, "social smart contracts" that fall into this category would need include broadcaster-related things in the future as well. So these contracts would likely expand to hold more

[2018-05-30 23:05] dob commented on #100
One thing to keep in mind is that it's very expensive to put (and maintain) a lot of metadata on chain, and it's often not necessary to have it on chain in the first place. For example, there's no reason all this data needs to live on chain: https://github.com/dob/livepeer-lists/blob/master/transcoders/0xfb9849b0b53f66b747bfa47396964a3fa22400a0.json

If you really want to tie authoriziation that t

[2018-05-30 23:12] yondonfu commented on #100
@jozanza Good point! I had originally been just thinking of a generic Livepeer identity centric metadata registry, but I agree that there should be a distinction between networking protocol metadata and social metadata. In fact, I would consider the orchestrator service URI more generally as core protocol metadata that is crucial for the operations of the core Livepeer protocol. Meanwhile, somethi

[2018-06-01 10:22] Matlemad opened #101 "LIVESTREAMS - Title, keywords."
What's the problem?
There is no way to give one livestream a **specific title and/or a number of keywords** in order to make it discoverable on the web. It would be very interesting if I could go on LP landing page, type certain keywords (like "_journalism,Venezuela,politics_")
and discover the livestreams covering that topic live right now.

Current Behaviour.
By now, it's totally on the creator

[2018-06-01 10:45] Matlemad opened #102 "Re-streams and Proof of Popularity"
**What's the problem? (required)**
I'm limited to the Livestreams I produce, I can't re-stream something using the LP protocol.

**What's the current behavior? (required)**
 the only way I can share a relevant livestream right now it is by using the old system of copying the url or embedding the video on a page. That would result in the transcoder having to keep up to the rising demand (right?).

[2018-06-03 14:53] chrishobcroft opened #103 "I want to select the resolution of my livestream playback"
**What's the problem? (required)**

The problem is that I am unable, as a user, to choose the resolution of the livestream to fit my bandwidth, and to fit with the power of my playback device.

For example, if I am connecting using a very slow internet connection, with a low-powered device, I would like to be able to e.g. select the lowest available resolution e.g. 144p (256x144).

**What's the cu

[2018-06-03 22:34] chrishobcroft opened #105 "Add a CTA for users who are not logged in with MetaMask"
**What's the problem? (required)**

Users who are not logged in with MetaMask are not aware of some of the opportunities available to them if they were a) to log in, or b) to install MetaMask, or c) to have Ethereum / crypto in general.

Opportunities such as:

- having "MY ACCOUNT" with Livepeer.
- contributing directly to broadcasters (in media)
- bonding (in explorer)
- others we haven't even d

[2018-06-03 22:39] chrishobcroft opened #106 "Rename "tip" to "contribute""
**What's the problem? (required)**

The concept of "tipping" isn't really common parlance outside North America. It's maybe the kind of thing that

**What's the current behavior? (required)**

The text currently reads as follow:

![image](https://user-images.githubusercontent.com/2212651/40891929-42c27d10-678f-11e8-9b60-b0e923f9b806.png)

**Do you have any personal experiences dealing with this pr

[2018-06-04 23:52] Matlemad opened #107 "Can Livepeer have a Little Brother? Only Audio Streaming"
**What's the problem? (required)**
Livepeer is purely video-streaming and doesn't offer the alternative of an audio-only layer
which could have an easier UX
1) it would be easier in terms of bandwidth
2) it's not tech-exclusive, even cheaper smartphones could run it without using too much cpu.

**What's the current behavior? (required)**
we use Spotify/AppleMusic for Audio and YT for videos.
In a

[2018-06-05 01:43] jozanza commented on #101
Yeah this one is a bit tricky since...

1. It requires persistence (the data has to be stored somewhere)
2. This is decentralized project, so we can't use traditional/centralized options.

From conversations I've had with other projects, this could be done in a decentralized manner in a few ways:

| Method                  |                      Pros                      |

[2018-06-05 01:51] jozanza commented on #106
Cool, yeah we definitely need to phrase things differently based on nationalities/locales. In developer parlance, this is known as "internationalization" or i18n. At some point, to be inclusive of a decentralized community, we'd need to internationalize all of the copy in both the explorer and player (as well as the website).

I suggest we approach this larger issue by identifying all of the messa

[2018-06-05 02:04] jozanza commented on #105
Right. Users may not have a clue about how to participate in any protocol txns with the UI as it is today. While, currently, the player does not have a concept of "My Account", the fact still remains that you may want to give the broadcaster some ETH (or maybe even tokens???). You'd need to be authenticated with an Ethereum account to do this. Any you can't play the delegation game at all if you a

[2018-06-05 02:14] jozanza commented on #100
Made a related comment: https://github.com/livepeer/livepeerjs/issues/101#issuecomment-394553589

Basically, it seems like we need to settle on a decentralized approach to persist data that is not core protocol data. We can do something limited with smart contracts fairly easily. This is the most expensive for the user but the easiest for us to maintain, although it won't scale as well when we nee

[2018-06-05 02:27] jozanza commented on #49
I'm going to close this one out in favor of #103

[2018-06-05 02:29] jozanza commented on #94
I think I may want to slap a gitcoin bounty on this one. I'll take some time to outline the necessary changes for this.

[2018-06-08 12:07] chrishobcroft opened #110 "Broadcaster channel name"
**What's the problem? (required)**

I am unable to configure a human-readable name as the Broadcaster in media.livepeer.org, which means that my viewers are unable to build awareness of my name and brand, as a broadcaster.

**What's the current behavior? (required)**

When a viewer loads up a stream, e.g. [Livepeer TV](https://media.livepeer.org/channels/0x0dDB225031cCB58fF42866f82D907F7766899014)

[2018-06-08 13:51] yondonfu commented on #110
One way to accomplish is via ENS name resolution - if the broadcaster `0x0dDB225031cCB58fF42866f82D907F7766899014` owns the ENS name `livepeertv.eth`, livepeer.tv could redirect to https://media.livepeer.org/channels/livepeertv.eth and the player could resolve `livepeertv.eth` to `0x0dDB225031cCB58fF42866f82D907F7766899014` under the hood

[2018-06-09 07:03] chrishobcroft opened #111 "Explorer to show more "overall metrics""
**What's the problem? (required)**

I am unable to easily access information about the overall network in terms of tokens, bonding, reward amounts, meaning that as a token holder, I don't have much context about the bigger picture and how I fit into it.

**What's the current behavior? (required)**

Currently, the explorer shows a whole heap of information at the level of an individual address. But

[2018-06-11 15:58] jozanza commented on #111
This is pretty similar to what's being discussed in #12 . There are a lot of stats mentioned in that issue. So I'm going to close this issue. But for clarity, here is what the process for getting these metrics into the explorer looks like:

- Step 1 is to add them into the SDK.
- Step 2 is to model in GraphQL (probably in the `Protocol` type, but there are a lot of requested data points that may d

[2018-06-11 15:58] #111 closed

[2018-06-11 18:19] jozanza commented on #44
@eswarasai @KennethAshley have either of you been able to reproduce this? I'm not personally seeing this happen any longer.

[2018-06-11 18:20] #72 closed

[2018-06-12 16:08] jozanza commented on #112
Actually, it’s not super obvious, but this can be done by hitting the dropdown arrow next to the account address in the account view header @chrishobcroft

[2018-06-13 20:29] chrishobcroft commented on #112
Hmm, so, perhaps it could be made more obvious?

Something to help transcoders to get people to bond to them.

"BOND TO THIS NODE"

[2018-06-18 00:59] RaffiSapire opened #114 "Removing Transfer Allowance Pop Up"
**Describe the bug (required)**
I personally felt very irritated that I had to pay to change my allowance. Requiring people to change their transfer allowance takes both time and gas, and therefore causes people people drop off and have a negative experience with Livepeer. Please can you lay out the technical challenge this solves and can we brainstorm how to solve without using the token holder?

[2018-06-18 01:00] jozanza commented on #114
Yeah it’s an ERC20 thing unfortunately. You need to set one, and there’s no way around that :/

[2018-06-18 01:08] RaffiSapire opened #115 "Unhide "Bond" Button"
**What's the problem? (required)**
The objective is to get people to Bond, and we are hiding the goal. People don't see the Bond button, and feel frustrated that its hidden.

**What's the current behavior? (required)**
Currently there is a "..." that viewers see when looking at the explorer, when you hover over a transcoder, the bond button appears.

**Do you have any personal experiences dealing

[2018-06-18 17:21] chrishobcroft commented on #112
OK, so, my suggestion on this would be to make the "Bond" option always visible, and not requiring a user to click on the dropdown arrow in order to see the option to Bond.

This also ties in with another issue relating to bonding to a node: https://github.com/livepeer/livepeerjs/issues/115

[2018-06-18 20:02] jozanza commented on #68
Let's wait for Supermax to have an API for this.

[2018-06-18 21:18] yondonfu commented on #12
Here is a breakdown of the protocol parameters for each contract. Pretty much all the method names are the same as the parameter names except for one case where the actual method name is provided.

BondingManager
- `unbondingPeriod()`
- `numActiveTranscoders()`
- `maxEarningsClaimsRounds()`
- `numTranscoders` -> `getTranscoderPoolMaxSize()`

JobsManager
- `verificationRate()`
- `verificationPeriod

[2018-06-19 14:22] dob opened #117 "explorer.livepeer.org returning 403 forbidden status header"
**Describe the bug (required)**
Requests to explorer.livepeer.org are returning a 403 forbidden HTTP status. The body of the page is actually returned in the response, but because of this header status some browsers may not render the page or show an error.

**Expected behavior (required)**
The page should return a 200 HTTP status.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. O

[2018-06-19 22:48] RaffiSapire opened #119 "Streamline communications by using only one word to refer to the concept of staking"
**What is this discussion about? (required)**
No one in the world has ever staked tokens before us and Steemit. The concept of locking up tokens and earning more is very new, and we need to clearly communicate to people. We use Delegator, Bond, Stake, Token Holder all to refer to the same people with the same needs and motivations. We need to stop using synonyms and stick with one word that descri

[2018-06-20 14:41] dob commented on #119
"Validator" seems to be the most universal term I've seen for the elected role in a DPoS system. But yes, industry wide tons of projects use completely different terms. Very confusing for users!

Also keep in mind that our functional role of transcoders is likely evolving to the functional role of orchestrators.

[2018-06-20 15:51] jozanza commented on #119
I think we should consistently use these terms:

- **Bond** (verb): to stake tokens to an account
  - other options: stake, delegate, vote, secure the network
- **Delegate** (noun): an account that may be staked to
  - other options: account
- **Delegator** (noun): an account that stakes tokens
  - other options: voter, token holder, participant
- **Earnings** (noun): stake (LPT) and fees (ETH) ga

[2018-06-20 16:02] dob commented on #119
Great point about "voting" being different than "delegating"....because "voting" has a different meaning in the potential future governance in our protocol. It's likely that people can submit governance proposal, like parameter changes or smart contract upgrades, and then token holders can "vote" on these proposals (with transcoders being required to vote). So if we use "voting" for transcoders as

[2018-06-20 21:29] ericxtang opened #121 "Change "Claim Stake & Fees" Workflow"
**What's the problem? (required)**
Users are explicitly calling "Claim Stake & Fees" when they don't have to.

**What's the current behavior? (required)**
Users are explicitly calling "Claim Stake & Fees", but they don't have to do it unless there are more than 20 unclaimed rounds.

**Do you have any personal experiences dealing with this problem? (optional)**
No - but I see a lot of unnecessary t

[2018-06-20 22:28] chrishobcroft opened #122 "Viewer-Centric Transcoding: As a broadcaster, I would like to optimise the playback for viewers in terms of framesize, framerate and bitrate"
**What's the problem? (required)**

Currently I am broadcasting in `FullHD 1920x1080 30fps 1820kbps` on _*[www.livepeer.tv](www.livepeer.tv)*_ from DSLR photographer cameras, and also experimenting with broadcasting in `4K 3840x2160 60fps 5820kbps` from [consumer webcams from Logitech](https://www.amazon.in/Logitech-Brio-4K-Pro-Webcam/dp/B01N5UOYC4/ref=sr_1_3?ie=UTF8&qid=1529516209&sr=8-3&keywords

[2018-06-20 22:49] f1l1b0x commented on #122
this should be no big deal

enable auto-selection of framesize, framerate and bitrate
this is how the video.js player currently is doing it afaik

for: select their own framesize, framerate and bitrate there are plenty opensrc examples out there like:
https://github.com/kmoskwiak/videojs-resolution-switcher

whatever is present in the m3u8 would be able to be manually selected by the users.

I don

[2018-06-20 22:56] chrishobcroft commented on #122
It would be interesting to allow the option for a viewer to fund the transcoding of a new configuration themselves, then as more people select that configuration, they start to share the costs equally.

Kinda like crowd-sourcing for transcoding costs.

- The first viewer is shown the full cost of the new transcoding configuration.
- The second viewer sees a lower cost
- The third viewer sees an ev

[2018-06-21 02:37] Randy1Burrell opened #123 "Contribution guide command produce error"
**What is this bug report about?(required)**
Description of how to add remote repository in contribution documentation contains error.

**Current Behavior(required)**
Command output produces `fatal: pathspec 'remote' did not match any files`

**Solution**
Change the command in the contribution guide to `git remote add livepeer https://github.com/livepeer/livepeerjs.git`

**To Reproduce (required)*

[2018-06-21 02:59] chrishobcroft opened #125 "0 ETH BROADCASTING FUNDS shown in explorer when account has 1 wei"
**Gitcoin Instruction**
Fix this bug so the explorer displays in wei when the unit is very small.  See the explorer package `AccountBroacdasting`.

**Describe the bug**

I have 1 wei in my broadcasting account, but explorer.livepeer.org shows I have a 0 balance.

[Here is the transaction where I deposited 1 wei](https://etherscan.io/tx/0xb68e9616fa72203ed8b7e10a04354a4b82c03b5a3b6e3365ed596b37364b

[2018-06-21 03:13] chrishobcroft opened #126 "Richer content embedded in media.livepeer.org for social media sharing"
**What's the problem? (required)**

When I post livepeer.tv's stream to something like Facebook, the content that is extracted from the webpage

**What's the current behavior? (required)**

Right now, it shows up something like this:

When I am writing a post on Facebook:

![image](https://user-images.githubusercontent.com/2212651/41695839-2b73ece0-7511-11e8-9864-760a4c16e893.png)

After I have po

[2018-06-21 10:32] f1l1b0x commented on #122
yeah, why not :) for long tail I can see this.
a few things speak against it:
*if you do the abr encoding in steps it is wasteful since in your scenario each transcoding step would require to download and decode the source. it is easier and more efficient to have one transcoder do the whole job.
*You can crowd fund this of course but usually you want it to have happened before someone even sees yo

[2018-06-21 10:46] chrishobcroft commented on #122
- :) I have faith that you will not build a system which is wasteful ;) but also perhaps our customers might want additional flexibility than to stipulate that all the transcoding for a stream must be done by the same transcoder... what if that transcoder doesn't have the capabilities to transcode all the bitrates that broadcasters and viewers want?

- right, so the broadcaster can pay for a few d

[2018-06-21 10:55] yashLadha commented on #116
@jozanza  how to get the data for inflation metrics? Is there a module for fetching the data

[2018-06-21 11:00] f1l1b0x commented on #122
I disagree here. a publisher has the biggest interest in the viewer to watch the content. If it is long-tail content it also means the publisher isnt that successful with his videos yet and might be counting each single view. it would be a big loss to miss out on the first viewer just cause no-one wants to pay for it. how is this then competitive with a youtube, twitch and others where it is all f

[2018-06-21 11:16] chrishobcroft commented on #122
I agree with you.

The broadcaster can still pay for a limited set of configurations of framesize, framers, bitrate... based on what they want to offer.

But we shouldn't limit it to that, when we could relatively easily be able to offer more flexibility to broadcasters _*and*_ to viewers.

Can't wait for this new transcoding marketplace to release!

[2018-06-21 17:35] dob commented on #126
@chrishobcroft can you research the required `og:` or meta tags (or other integration steps) to have links convert to embedded streams in facebook and twitter? If we have more info on the required implementation it may be easy to add that metadata to the rendered pages so that the embeds show up in a rich way.

[2018-06-21 21:20] ericxtang commented on #116
@yashLadha the inflation metrics can be found in the `Minter` contract.  If you follow the example in the rpc module, you'll see how to call the contract to access data.  Feel free to reach out in our discord chat if you have questions!

[2018-06-21 22:01] f1l1b0x commented on #107
Audio only streaming is noted and in most cases would not require a transcoding just a transmuxing/repacking to a hls stream

We currently do not have a concept for passthrough streams but should add it

[2018-06-22 04:29] #123 closed

[2018-06-22 15:20] jozanza commented on #128
We can make the cli easier, and we can improve the docs. But the transcoder role is not casual and requires a big commitment as well as a solid understanding of Ethereum, devops, and video. And even if you could register from the UI, you'd still have to run the node to actually transcode segments. Not everyone can be a good transcoder -- but that's okay! If you really want to learn how, do that fi

[2018-06-22 15:22] jozanza commented on #125
We can add an extra line showing the full balance with all digits just below the rounded value of "0 ETH".

[2018-06-22 15:48] jozanza commented on #126
It's not that simple. The player is a single page app (SPA). You'd need to have compile static web pages for all accounts that wanted to have meta tags like this. And you'd also need to upload any assets that would appear in the shared link. Basically, you're going to need a persistence layer, file storage, and user authentication to implement this.

It would be better for folks to maybe make thei

[2018-06-22 15:51] jozanza commented on #122
Closing this since we're talking about the same issue as #103

[2018-06-22 16:05] jozanza commented on #44
Okay I can't repro, and this issue has been open for a while. I'm going to close. We can reopen if it's still a problem and reproducible.

[2018-06-22 16:05] #44 closed

[2018-06-22 19:48] chrishobcroft commented on #122
I would rather close the other one, as this one has far more depth, and also some conversation which may be relevant for future.

[2018-06-22 19:50] chrishobcroft commented on #103
Closing because this functionality is better defined in https://github.com/livepeer/livepeerjs/issues/122 and there is the start of a discussion there also.

[2018-06-22 19:51] chrishobcroft commented on #125
OK, as long as the correct information is there somewhere.

[2018-06-22 19:51] jozanza commented on #122
@chrishobcroft Do me a favor, and don't mess with issues like this again. I already chose which issues to open/close. Feel free to keep discussing, but this one will remain closed.

[2018-06-22 19:51] #122 closed

[2018-06-22 20:13] ericxtang commented on #121
Good idea @jozanza.  What do you think should be the experience for that?  Warning messages in the claim modal?  It might also be helpful to create visual signal to let users know the unclaimed earning is already part of the total stake.

[2018-06-23 01:49] chrishobcroft opened #131 "Campaign for the inactive transcoder"
**What is this discussion about? (required)**

I want to talk about how inactive transcoders are portrayed in the explorer.

**What do you hope to learn by the end of this discussion? (required)**

Some easy ways we can make inactive transcoders look less hopeless.

**Additional context**

![image](https://user-images.githubusercontent.com/2212651/41804475-6eb781ba-7697-11e8-9e75-7a58d117b45d.png)

[2018-06-23 11:42] iamonuwa commented on #94
@gitcoinbot am working on the issue at the moment

[2018-06-23 14:07] ericxtang commented on #131
I think the path forward here is to use the ENS integration to add the campaigner's ENS identity.  @yondonfu worked on this [a few weeks ago](https://github.com/livepeer/livepeerjs/pull/113), still need to finish it up and merge it.

[2018-06-23 19:33] dob commented on #131
1. I still stand by this issue: https://github.com/livepeer/livepeerjs/issues/33 that pending fee share/reward cut/price are more important to display than the active ones.

2. Reminder that even without an intense ENS integration that relies on full stack integration for not only player channel names but tons of transcoder metadata (that likely doesn't belong on chain), the data required to link

[2018-06-24 04:54] eswarasai commented on #44
@jozanza -- I haven't got a chance to try this out. Let me know in case this is reproducible so that I can debug and see what might be causing this. And also you might wanna cancel the bounty here -- https://gitcoin.co/issue/livepeer/livepeerjs/44/455

[2018-06-24 08:44] chrishobcroft commented on #33
I agree 100%

[2018-06-24 08:47] chrishobcroft commented on #131
Regarding point 2, is this list only the active transcoders?

[2018-06-24 19:20] dob commented on #131
It’s anyone who’s submitted a campaign or a PR to add a file for a new transcoder. I try to keep up and will add the new ones but anyone can submit a PR to add or update one.

________________________________
From: Chris Hobcroft <notifications@github.com>
Sent: Sunday, June 24, 2018 4:47 AM
To: livepeer/livepeerjs
Cc: Doug Petkanics; Comment
Subject: Re: [livepeer/livepeerjs] Campaign for the ina

[2018-06-25 08:20] iamonuwa commented on #112
@ericxtang if this task is still available, I would love to work on it

[2018-06-25 14:02] ericxtang commented on #112
Hey iamonuwa, I think @subhasreemurugan is working on this task.  We'll make more bounties this week!

[2018-06-26 00:01] ericxtang opened #134 "Display starting block for the next round"
**What's the problem? (required)**
Currently it's hard to tell when the next round will start.

**What's the current behavior? (required)**
We don't show any information about when the next round will start.

**Describe a possible solution you've considered (optional)**
Show the starting block of the next round, and show the current block number.  This can be right below the round status module on

[2018-06-26 15:09] jozanza commented on #134
This seems related to #12 (requirement for adding "protocol status" metrics).

Unfortunately, this layout would break the nav (too tall). And currently, the explorer doesn't keep track of what the current block is. So first, we nee **1)** a different UI and **2)** to do the groundwork to add block tracking into the sdk, and subsequently, model it in graphql-sdk package.

The sdk/graphql-sdk part c

[2018-06-26 16:28] dob commented on #134
Related to the block.number not being available in the sdk, and asking what other metrics we may want to see that are similar...

Is it worth considering exposing a web3 wrapper in graphql itself? I ran into this during the hackday that I wanted to use web3 getters, and I couldn't access it directly. If the idea is that everything runs through graphql queries, then maybe just exposing a separate m

[2018-06-26 16:32] jozanza commented on #134
@dob That's exactly how it works currently. The sdk is our web3 wrapper, and it is used to resolve data in the graphql-sdk. See [getting an account's ETH balance](https://github.com/livepeer/livepeerjs/blob/master/packages/sdk/src/index.js#L560), for example.

[2018-06-26 17:19] #94 closed

[2018-06-26 17:20] ericxtang commented on #134
I agree with @jozanza's instinct of opening up a modal for protocol parameters.  But I think there should be a callout along the line of "protocol params".

I think we can expose 6-8 parameters that an average user would care about in the modal.  My proposal:
* currentBlock vs. nextRoundStartBlock
* unbondingPeriod
* numActiveTranscoders
* inflation
* targetBondingRate
* currentBondingRate (Total

[2018-06-26 17:32] jozanza commented on #125
This is probably a good gitcoin candidate @ericxtang

[2018-06-26 17:38] jozanza commented on #121
@ericxtang I think we should open 3 issues to tackle this:

1. Add a warning message in the claim modal. Once we settle on the wording, this can be done immediately.
2. Add LPT and ETH from unclaimed earnings to the **Stake** and **Fees** metrics on the account view's delegating tab.
3. Add LPT from unclaimed earnings to the "Your Stake" column on the transcoders list.

[2018-06-26 17:50] jozanza commented on #131
@dob on point 1, #33 is actually the solution for this issue as well. I'll leave this one open until that one gets closed 👍

Point 2 is entirely different from this issue. And as I've mentioned before, using [fixtures](https://github.com/dob/livepeer-lists/tree/master/transcoders) is not a sound way to build out  feature or enhancement related to transcoder identity or meta-data. This is not a sta

[2018-06-26 18:21] dob commented on #131
@jozanza if you treat the JSON files available in github as an API (called via HTTP requests), how is reading the data from these github hosted files different than hitting the etherscan API or the infura api to read data from other sources?

[2018-06-26 19:27] jozanza commented on #131
It's using the same transport as etherscan or infura (HTTP), and that's about all. If you use raw.github instead of fixtures, that's slightly better, but still not great. Here's why:

#### 1. Not Open; Poor UX
  - Private feature for Github users, but the dApps are not developer-specific. Storing meta-data is useful feature for all users
  - Might as well "Login with Github" and use the API if you

[2018-06-26 22:09] ericxtang commented on #134
@iamonuwa thanks for applying! Gonna give this one to @palevoo because he has been talking to me offline about it. I'm making a few other bounties, and let you know :)

[2018-06-26 22:12] iamonuwa commented on #134
@ericxtang, have released it. Thank you

[2018-06-26 22:15] ericxtang opened #135 "Generate unmined address"
**What's the problem? (required)**
Once the slow start is over, we should add a feature to generate unmined addresses for people want to mine for others.

**What's the current behavior? (required)**

**Do you have any personal experiences dealing with this problem? (optional)**

**Describe a possible solution you've considered (optional)**

**Additional context (optional)**

[2018-06-27 03:54] ericxtang commented on #112
Hi @subhasreemurugan, how is this going?  I'll give the task to @iamonuwa if I don't hear back within the next 24 hours.

[2018-06-27 14:17] dob commented on #131
I of course recognize my suggestion is not the ideal long term engineering solution for how we associate metadata in a decentralized way. I just want to clarify why I'm even suggesting this in the first place:

1. I'm thinking about the user - it's been 60 days since the protocol launched, and there's been no link between the transcoder's appearance on the election dashboard and their social campa

[2018-06-27 15:58] dob commented on #135
Couple thoughts on this...

1. I think it's a valuable interface to expose to users, because they are going to ask "How can I get Livepeer token?" and to be able to point them towards a link that helps them is a win.

2. I think it will be short lived. Manually invoking a single txn to mine one other user's account will be tedious and slow. I suspect that most of the LPT will be mined via scripts

[2018-06-27 16:24] jozanza commented on #121
@ericxtang Actually, I just did items 2 & 3 on my current fork that contains the mining updates. I also handled #33 while I was at it, which means we can close that one as well as #131 once it gets merged. So all we need to do is think of a good message for item 1.

[2018-06-27 18:59] jozanza commented on #134
@ericxtang This new description and mockup look really good!

[2018-06-27 20:50] ericxtang commented on #135
@dob I agree a "single-address-merkle-mine" app will be inefficient.  I think the tool should allow a user to mine for multiple addresses within the same transaction through a deployed smart contract.  Maybe this tool doesn't live in the explorer, but we can link to a post about it.

I agree the explorer should show the information about the merkle mine.  Will create a spec about it and put some b

[2018-06-28 03:56] ericxtang commented on #112
Hi @iamonuwa - I haven't heard back from @subhasreemurugan, so I removed her from the ticket.  Feel free to claim it!

[2018-06-28 04:22] ericxtang opened #136 "Add LPT Info In Graphql"
**What's the problem? (required)**
LPT information is not in the SDK

**What's the current behavior? (required)**
Cannot get LPT information through the SDK

**Additional context (optional)**
_Implementation Detail_
* Total token supply can be found at `getTokenTotalSupply` in `sdk/src/index.js`
* Total bonded token can be found in `BondingManager` contract (`getTotalBonded`).  Needs to be added t

[2018-06-28 07:53] subramanianv commented on #125
I made a PR. I made a simple change. Added 18 as decimals to formatBalance function. If you guys want to leave it like that before and add a line next to it with the balance in wei, let me know.

[2018-06-28 08:02] iamonuwa commented on #112
Alright!

[2018-06-28 21:33] #125 closed

[2018-06-28 23:29] chrishobcroft commented on #131
It's always a fun one, this "purist vs. pragmatist" trade-off.

I see both sides, and would like to know how doing the things that don't scale would degrade a user's experience of interacting with Livepeer? Perhaps that's one for @jozanza?

And one potentially pertinent point here is to make a correction to point 3 above. The URLs of Transcoder Campaigns *have* changed since being first published

[2018-06-28 23:38] chrishobcroft commented on #131
Thinking a little outside the box here though - surely the right answer is to embed the media player in the broadcaster tab for a node.

This would allow Transcoder Nodes to stream content relating to their node's campaign, which is much more "blockchainy" than a webpage with lots of text and images, IMHO.

Also would be a good way to attract more inbound traffic to the explorer in general.

[2018-06-28 23:54] chrishobcroft opened #140 "Why isn't the player also embedded in the explorer?"
**What is this discussion about? (required)**

The fact that there are two separate web properties to maintain, when it could be just one.

- media.livepeer.org - which shows content being broadcast
- explorer.livepeer.org - which shows what's going on with the protocol

The distinction between the two kinda implies that broadcasting isn't really anything to do with the protocol, which feels a bit

[2018-06-29 06:59] #110 closed

[2018-06-29 21:07] #33 closed

[2018-06-29 21:07] #121 closed

[2018-06-29 21:07] #131 closed

[2018-06-29 21:44] jozanza commented on #140
@chrishobcroft interesting idea.

The livepeer.tv player is a basically a bare-bones example decentralized video application that folks can clone and whitelabel easily. Its purpose is more as an example devs can use as a starting point and  as a dApp anyone can easily deploy to get a shareable link, if they bold enough to try to broadcast in today's world.

The explorer is really about delegation

[2018-06-29 21:53] yondonfu opened #142 "Allow user to hide the "Join the Alpha" banner in the player"
**What's the problem? (required)**

The player displays a "Join the Alpha" banner in the player that cannot be hidden unless the player is switched into full screen mode.

**What's the current behavior? (required)**

The player does not allow a user to hide the "Join the Alpha" banner in the player.

**Do you have any personal experiences dealing with this problem? (optional)**

A user of the play

[2018-06-29 21:58] chrishobcroft commented on #131
Interested to know how this one has been solved.

[2018-06-29 22:05] jozanza commented on #131
This talk started out as a discussion about displaying inactive transcoder metrics fairly. That is solved (along with #33) by [this PR](https://github.com/livepeer/livepeerjs/commit/bb0549f698911c471f70223fd77b7745f4be698c).

Later on this thread got off-topic and focused on the challenge of displaying transcoder meta information, which is already an issue: https://github.com/livepeer/livepeerjs/i

[2018-06-30 01:31] jozanza commented on #142
@yondonfu maybe you can get @ericxtang to walk you through the gitcoin bounty process for this one 👍

[2018-06-30 01:34] jozanza commented on #117
@dob you or @ericxtang will have to update this in the AWS cloudfront distro for explorer/player. I'm going to close this issue here since it's not LivepeerJS codebase-related 👍

[2018-06-30 01:34] #117 closed

[2018-06-30 01:37] jozanza commented on #114
I'm going to close this issue, but it's definitely something to think about when user testing. There will absolutely be ways to continue to improve the first-time bonding experience. Unfortunately, transfer approval is a requirement at this point in time.

[2018-06-30 01:37] #114 closed

[2018-06-30 15:34] dob opened #144 "Improve content formatting on the /token page in the explorer"
**What's the problem? (required)**
When the information got moved from the /participate page, content formatting got lost. Bullets, links, emphasis, spacing, etc.

**What's the current behavior? (required)**
Big blocks of text with no formatting to make them readable. The graphic from /participate that shows token release schedule also got lost.

**Describe a possible solution you've considered (o

[2018-07-01 17:06] jozanza commented on #112
@ericxtang this issue is already done, merged, and deployed. I'm not sure if there is a Gitcoin bug here, but we should figure out how to get @iamonuwa his bounty.

[2018-07-02 16:06] dob commented on #140
Echoing Josiah's comments above, the explorer is definitely built and iterated upon to be a protocol explorer - information and actions related to the protocol. And the player hosted at media.livepeer.org is built and iterated upon for displaying media - as an example DApp. While I encourage anyone to fork either, or build a DApp that combines features from protocol interactions with media use cas

[2018-07-02 16:06] #140 closed

[2018-07-06 09:32] vs77bb commented on #112
Hi @ericxtang @jozanza now that @iamonuwa has submitted work on Gitcoin, you should be able to [pay out here](https://gitcoin.co/issue/livepeer/livepeerjs/112/661) whenever :+1:

[2018-07-10 10:01] ericxtang opened #148 "Merklemine Lambda Enhancement"
**What's the problem? (required)**
Currently the Merklemine lambda function has a `get_random_account` function that generates a list of random accounts.  However, the random accounts can be accounts that have already been mined.

**What's the current behavior? (required)**
The random accounts can be accounts that have already been mined.

**Describe a possible solution you've considered (optional

[2018-07-10 19:54] #144 closed

[2018-07-11 12:28] ericxtang opened #149 "Embedded Player Doesn't Have Logic For Picking CDN Endpoints"
**Describe the bug (required)**
The main player picks CDN endpoints depending on the channel (if it's crypto.livepeer.tv or livepeer.tv, it uses special CDN endpoints).  The embedded player doesn't do that.

**Expected behavior (required)**
The embedded player just says "stream is currently offline".

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Embed the player for the livepeer

[2018-07-11 14:45] dob commented on #149
I'm guessing this is critical for the Ethereum Magicians livestream embed?

[2018-07-11 15:44] ericxtang commented on #149
@dob that's right.  @Randy1Burrell is taking a look.

[2018-07-11 15:51] Randy1Burrell commented on #149
How far away is Ethereum Magicians livestream embed? Also what method did you use to embed this player?

[2018-07-11 15:53] ericxtang commented on #149
There is a (very discrete) embed button at the bottom-right corner of the player.  The magicians are embedding the player here - https://ethereum-magicians.github.io/berlin-council/livestream/

[2018-07-11 17:22] Randy1Burrell commented on #149
@ericxtang and @dob here is what I found:

When I load the page and check my console I see this error:

"Unhandled promise rejection DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document  at createApolloCache (http://localhost:3000/static/js/bundle.js:190302:26)
    at _callee5$ (http://localhost:3000/static/js/bundle.js:190186:25)
    at tryCat

[2018-07-11 17:23] Randy1Burrell commented on #149
I closed this issue by mistake. The issue has been reopened because I would still like to find a solution.

[2018-07-11 17:36] Randy1Burrell commented on #149
I am still looking into the CDN bug. The issue I mentioned earlier tricked me for a while into thinking that when embedded the player was not showing in the browser at all. I will file it as an issue soon.

[2018-07-12 13:24] rayj00 commented on #149
Does it work in all browsers now?

[2018-07-12 14:23] Randy1Burrell commented on #149
@rayj00 so far it works in all the browsers that it has been tested with, which are Chromium, Chrome and Firefox on Linux (Ubuntu).

[2018-07-14 09:08] ericxtang opened #152 "Embedded Player Dimensions Doesn't Match Real Video Dimensions"
**Describe the bug (required)**
The dimensions of the embedded player doesn't match the real video dimensions.

**Expected behavior (required)**
The player dimensions should adapt to the video dimensions.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Embed the video player on a website
2. Try to stream to it with different dimensions

**Device (required):**
 - Any browser

**Scr

[2018-07-17 05:43] Randy1Burrell commented on #148
Hey @ericxtang, After scouring the internet and AWS documentation I have come across some limitations with DynamoDB that makes it unsuitable for this operation. The issues are as follows:
* I cannot select from the database and filter an attribute for null value. Eg. Let's say I wanted to run a query like `SELECT * FROM MerkleMine WHERE mined = NULL or mined = False`. I find this particularly impo

[2018-07-17 13:17] dob commented on #148
I do not have experience with dynamo, but it would be a real bummer if you can't query on bool == false.

Does this help?

https://stackoverflow.com/questions/40461910/aws-dynamodb-query-not-filtering-on-bool-value

[2018-07-17 13:40] dob opened #153 "Token miner page gives error on Firefox/Metamask/OS X"
**Describe the bug (required)**
This was originally reported by @darkdarkdragon.

This is after clicking the start mining button.

[code]

**Expected behavior (required)**
Mining should begin at this point.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Open Firefox
2. Unlock Metamask
3. Visit explorer.livepeer.org/token
4. Click start mining button

**Device (required):**
 - Dev

[2018-07-17 14:09] darkdarkdragon commented on #153
@dob [worker.js](https://github.com/livepeer/livepeerjs/blob/master/packages/merkle-miner/src/worker.js#L176) uses `ReadableStream` object, but in Firefox this api should be [explicitly enabled](https://developer.mozilla.org/en-US/docs/Web/API/ReadableStreaml)
after enabling, mining process started

[2018-07-17 14:12] Randy1Burrell commented on #148
Hey @dob, that post would not help. The problem each of these record possess is that you need to run a select query based on their hash/primary key. If that key is missing in your query then DynamoDB returns a key condition error. So in your query you would have to say something like `SELECT * FROM MerkleMine WHERE id = :id and (mined = NUL or mined = False)`

[Here](https://docs.aws.amazon.com/am

[2018-07-17 14:21] dob commented on #148
Got it. @ericxtang what do you think about a hosted mongo service like https://mlab.com/? Up-and-running in minutes, fit within the free tier if we want, and the connection credentials would be safe within the lambda function. It's a short-lived app during the length of the mining period, and all the data is recreatable from the original account file and blockchain, so it doesn't seem like somethi

[2018-07-17 14:29] Randy1Burrell commented on #148
Hey @ericxtang and @dob if you are gonna go with [Mongo Labs](https://mlab.com/), then please create a database for dev purposes. It doesn't need to contain as many records as the production DB. Just enough for when I am developing MultiMerkleMine.

[2018-07-17 18:41] Randy1Burrell commented on #148
@ericxtang and @dob, any decision on what we will be doing about this yet?

[2018-07-17 18:51] ericxtang commented on #148
I have a cloud-hosted mongo service running for the metrics system.  Randy
I can send you the info later today.

Eric

On Tue, Jul 17, 2018 at 8:41 PM Randy Burrell <notifications@github.com>
wrote:

--
#mobile

[2018-07-17 19:09] Randy1Burrell commented on #148
Ok great. Looking forward to it.

[2018-07-23 13:32] dob commented on #155
@PumpkingWok Thanks, it would be great if you could take this on. Let me know if you have any more questions as you go.

[2018-07-26 17:19] j0sh opened #156 "Rinkeby explorer without Metamask"
**What's the problem? (required)**
Can't use the Rinkeby explorer without Metamask.

**What's the current behavior? (required)**
The default network for the explorer is mainnet and I don't see a way to change that without setting Metamask to use rinkeby.

**Do you have any personal experiences dealing with this problem? (optional)**
Some people run with Metamask disabled as a matter of security. I

[2018-07-28 15:39] ericxtang opened #158 "Transcoder Reward Call Alerting App"
**What's the problem? (required)**
Transcoders have to make sure they call `reward` for every round in the protocol.  This logic is built into the `go-livepeer` codebase so it should be done automatically.  However, a few different reasons can stop the automated calling behavior in the Livepeer node.

**What's the current behavior? (required)**
Nothing happens if a transcoder misses a `reward` cal

[2018-07-30 00:50] #148 closed

[2018-07-30 07:45] PumpkingWok commented on #155
I'm so sorry but i was very busy in the last days, i'm going to submit a PR for this issue tomorrow.

[2018-07-30 17:05] dob commented on #160
@darkdarkdragon mentioned that it went away, but now he sees a readablestream error, which I also see...

![screen shot 2018-07-30 at 1 05 04 pm](https://user-images.githubusercontent.com/10389/43411798-406b1810-93f9-11e8-810d-661ee1544c18.png)

[2018-07-30 17:36] vs77bb commented on #155
@PumpkingWok Thanks for the update. A PR tomorrow would be great to keep this moving 🙂

[2018-07-30 17:52] darkdarkdragon commented on #160
@dob probably what I saw was error on gateway.ipfs.io side - https://explorer.livepeer.org/mine  was not load loading because it was not able to load data from gateway.ipfs.io because of CORS, but now gatewy.ipfs.io returns right CORS headers
what you see now (readablestream error) - it is same I was reporting herer #153 - you need to explicitly enable `ReadableStream` api in Firefox to make it wo

[2018-07-30 21:40] dob commented on #153
I don't know enough about `ReadableStream` or the JS stack, but it's pretty crazy that we would have to ask a user to enable an experimental browser flag in order to download and parse a file.

Any other way we can see around this without a major rearchitecture effort?

[2018-07-30 21:50] darkdarkdragon commented on #153
@dob quick look into google shows that there is [polyfill](https://github.com/jonnyreeves/fetch-readablestream), but I don't know if it will work out of the box in our case - need to be tested

[2018-07-30 21:54] bijanshahrokhi opened #161 "The status bar is not aligned with the boarder lines for smaller screen sizes."
See attached.
<img width="435" alt="screen shot 2018-07-30 at 5 23 58 pm" src="https://user-images.githubusercontent.com/26103938/43425753-891870b2-9421-11e8-8298-0e9466192773.png">

**Describe the bug (required)**
A clear and concise description of what the bug is.

**Expected behavior (required)**
A clear and concise description of what you expected to happen.

**To Reproduce (required)**
Steps

[2018-07-30 22:08] bijanshahrokhi opened #162 "Match 'more info' sign with info sign used in My Account."
I'll ask Raffi to provide image to you,

**Describe the bug (required)**
A clear and concise description of what the bug is.

**Expected behavior (required)**
A clear and concise description of what you expected to happen.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Device (required):**
 - Device: [e.g. Ma

[2018-07-30 22:15] Randy1Burrell commented on #161
@bijanshahrokhi This is caused by the button failing to resize based upon default styling placed on it. I will change this soon.

[2018-07-30 22:29] darkdarkdragon commented on #153
@dob @Randy1Burrell giving that that this code anyway lives inside worker thread, `ReadableStream` can thrown out without consequences, I think

[2018-07-31 02:12] Randy1Burrell commented on #153
@dob one of the issues I am finding difficult to deal with is that the dapp downloads [woker.js](https://github.com/livepeer/livepeerjs/blob/master/packages/merkle-miner/src/worker.js#L176) as a dependency from [this url](https://gateway.ipfs.io/ipfs/QmbiSa3PSXwRw6aoCRUcEDB4F2c9jvz2UMZJJbyetPA9aY) every time the user clicks Earn LPT. The difficulty in dealing with this is that when I edit the file

[2018-07-31 14:34] dob commented on #153
@Randy1Burrell you can not edit the file from IPFS, but I don't see any reason why the file has to be served from IPFS. It could be served from another static server like S3...or it could probably just live in the app itself...though I'm not sure if there's a good reason why it doesn't in the first place.

[2018-07-31 15:38] Randy1Burrell commented on #153
@dob I have no Idea why it wasn't served locally but for a quick patch it's probably best I don't touch the way it's served or else I would have to tinker with the current architecture. I will look into the S3 idea for testing purposes.

[2018-07-31 17:51] bijanshahrokhi opened #165 "Fix typo - replace "unlciamed" with "unclaimed" in mining - page 2 - initializing stage."
**Describe the bug (required)**
A clear and concise description of what the bug is.

**Expected behavior (required)**
A clear and concise description of what you expected to happen.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Device (required):**
 - Device: [e.g. MacBook Pro, iPhone6]
 - OS: [e.g. iOS, Lin

[2018-07-31 18:32] Randy1Burrell commented on #165
This has already been done. @ericxtang just needs to update the new push.

[2018-08-01 02:59] Randy1Burrell commented on #153
@dob and @darkdarkdragon I have commented out the `ReadableStream` from a new [worker.js](https://gateway.ipfs.io/ipfs/QmU3aMRGAHahFoP8aC2jHiMb3DcqZ43myLx3ZPN4dfYYXZ) file on IPFS and pointed the MerkleMining to this file. It works well, but, unfortunately that is just a temporary solution. When I implement the phase where I give users the option to mine their own account then I will be forced to

[2018-08-01 16:31] dob commented on #163
Just mentioning that this web based experience functionally lets people merkle mine their own account in case you want to point people there as a stop gap. It is a rough user experience however and we moved away from it towards the in-explorer flow: https://ipfs.io/ipfs/QmUvAFQZxbgMCqCMLUSj2kQBpZUhj5qi8KhmPDVvv9apfj

[2018-08-01 21:29] dob opened #168 "Round initializer in explorer doesn't offer enough gas by default"
**Describe the bug (required)**
The round initializer in the explorer offers 2100000 gas, but the txn actually takes more like 2340000 gas. Let's offer 2800000 to be safe.

**Expected behavior (required)**
It offers enough gas for the txn to succeed

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to explorer.livepeer.org/transcoders when the round is not initialized
2. Click on

[2018-08-01 22:14] bijanshahrokhi commented on #163
Randy,
Is tehre anything that needs to be done (development wise)? Can we recycle what existed before?

[2018-08-01 22:18] Randy1Burrell commented on #163
@bijanshahrokhi Yes we can but it still require me to write a small amount of code to get it working.

[2018-08-02 19:07] gjgd opened #170 "Tooltips are inaccurate on the explorer"
**Describe the bug (required)**
Tooltips on https://explorer.livepeer.org/transcoders are inaccurate (see screenshots below)
- First tooltip should say "top 15" instead of “top 10"
- Second tooltip is at the wrong place. It should appear on hovering the Reward Cut column

**Expected behavior (required)**
Tooltips are accurate (for the first one) and at the right place (for the second one)

**To Re

[2018-08-03 20:05] #136 closed

[2018-08-04 02:13] Randy1Burrell commented on #135
@ericxtang and @dob Could this be marked as resolved?

[2018-08-04 02:14] Randy1Burrell commented on #167
This has been done.

[2018-08-04 02:16] Randy1Burrell commented on #166
@bijanshahrokhi this is done

[2018-08-04 02:18] Randy1Burrell commented on #161
@bijanshahrokhi This is done.

[2018-08-04 02:18] #161 closed

[2018-08-05 20:23] Randy1Burrell opened #171 "MerkleMine and MultiMerkleMine not being included in the SDK."
**What is this discussion about? (required)**
MerkleMine and MultiMerkleMine not being included in the SDK.

**What do you hope to learn by the end of this discussion? (required)**
How MerkleMine and MultiMerkleMine being included in the SDK would help Livepeer's users build long term decentralised applications that uses the Livepeer network.

**Additional context**
After a discussion on Friday Au

[2018-08-06 14:30] ericxtang opened #172 "More Prominent Warnings for Locked Metamask Wallets"
**What's the problem? (required)**
When someone's Metamask wallet is locked, the "bond" button goes away.  However, since people often don't realize their Metamask is locked, they just wonder where the "bond" button went.

**What's the current behavior? (required)**
No status indicator on the Metamask wallet being locked.

**Describe a possible solution you've considered (optional)**
Show a promin

[2018-08-08 08:03] chrishobcroft opened #177 "Embedded player not working in Brave"
**Describe the bug (required)**

When using Brave to load a page with the media.livepeer.org player embedded as an iframe, no content loads.

**Expected behaviour (required)**

I expect that when I load livepeer's player in Brave, that it beahves the same as when I load livepeer's player in Chrome / Safari / Firefox.

**To Reproduce (required)**

1. Create a page with the following iframe embedded

[2018-08-08 11:44] #168 closed

[2018-08-09 15:34] #135 closed

[2018-08-11 01:05] bijanshahrokhi opened #179 "Present following content once all tokens are mined."
As presented on this page.

https://preview.uxpin.com/5497e6dac9138fd9dc7fd14e6dfb9fd0a2105e55#/pages/90831273/simulate/no-panels?mode=i

**Describe the bug (required)**
A clear and concise description of what the bug is.

**Expected behavior (required)**
A clear and concise description of what you expected to happen.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2018-08-11 19:04] j0sh opened #180 "Show token info even without metamask"
**What's the problem? (required)**
Token distribution and mining information is only shown with Metamask. If users do not have Metamask, they are more likely to lose interest and leave. We want the information up-front unconditionally to pique users' curiosity, which may lead to more participation.

![image](https://user-images.githubusercontent.com/292510/43995105-dd8219b6-9d5c-11e8-9583-79491eed

[2018-08-15 20:26] darkdarkdragon opened #181 "Show up/down status of transcoder on explorer/transcoders page"
**What's the problem? (required)**
No information if transcoder is up or down.

**What's the current behavior? (required)**
Just no information.

**Describe a possible solution you've considered (optional)**
Explorer should periodically ping transcoder node (via http request) and show transcoder's status (up or down) in transcoders list.

[2018-08-16 21:43] j0sh opened #182 "Specify Stream Source via URL"
**What's the problem? (required)**
Adding a 'special' channel requires a codebase change. Maintaining this list of hard-coded addresses is unwieldy, especially now that we are pulling directly from the broadcaster rather than the p2p network. This makes it difficult for folks to experiment with broadcasting on their own nodes without also running a livepeerjs component and making address changes.

[2018-08-17 16:28] ericxtang opened #183 "Add Adaptive Bitrate Stream Picker to Video Player"
**What's the problem? (required)**
It's helpful to allow users to pick the video quality within a HLS master playlist.

**What's the current behavior? (required)**
Currently, the Livepeer video player doesn't allow you to pick a video quality.

**Describe a possible solution you've considered (optional)**
We should automatically detect when there are multiple qualities in the playlist, and display

[2018-08-17 22:37] chrishobcroft opened #184 "multiMerkleMine getting stuck at "Validating Eth Address""
**Describe the bug (required)**

When using the multiMerkleMine dApp at [this link](https://explorer.livepeer.org/mine), the page sticks at the message saying "Validating Eth Address", and never progresses past this.

For me, this is happening on Ubuntu 18.04.1 on Chromium, Firefox and Brave.

For me, this is working fine using the same Eth Address on MacOS on Brave, but other users are experienci

[2018-08-18 17:04] dob opened #185 "Explorer not loading on non web3 enabled browsers"
**Describe the bug (required)**
The explorer is displaying a blank page (not loading at all) on mobile browsers and non web3 enabled desktop browsers. It is possibly because of this PR, which would throw an exception if web3 isn't injected into the page: https://github.com/livepeer/livepeerjs/pull/164/files

**Expected behavior (required)**
Explorer should load

**To Reproduce (required)**
Steps t

[2018-08-18 17:41] dob commented on #184
May I suggest that we host the account file in the livepeer.org domain? The fact that it's on IPFS means that anyone can always access it for scripting or their own validation, and they don't have to rely on Livepeer in order to generate proofs themselves. But for this mining app, if we can solve this issue by hosting the file, then we should consider doing so.

[2018-08-19 01:48] Randy1Burrell commented on #184
@chrishobcroft I developed MerkleMine dapp and tested on Linux, specifically Ubuntu 18.04. I am not sure how to recreate the problem you are having. Are you running your Ubuntu box in any special environment such as connected to a VPN, a proxy server or any other environment that I didn't mention?

[2018-08-19 10:31] chrishobcroft commented on #184
Hmm, how odd. Thanks for following up @Randy1Burrell

So, I'm running Ubuntu 18.04.1 on a Lenovo Thinkpad T480s, instlled directly on the machine.

The hard drive is encrypted (which shouldn't really cause an issue?).

But not using any VPN or proxy.

[2018-08-19 11:03] chrisjgf commented on #184
Same issue here on both Brave and Chrome. Mac OS 10.13.6, Chrome 68.0.3440.106.

<img width="1520" alt="screen shot 2018-08-19 at 12 00 54" src="https://user-images.githubusercontent.com/19643324/44308151-ad782c00-a3a7-11e8-8d91-4cc08d42fec8.png">

[2018-08-19 12:40] chrishobcroft commented on #185
I don't know if it's related, but I regularly see the explorer not loading in browsers on laptops also.

I can't seem to identify any kind of pattern or cause.

The only potentially relevant detail is that the blank page being loaded is actually some kind of Livepeer content - because it is one of Livepeer's official colours (and not a plain white). So, something is loading, just not everything :/

[2018-08-19 21:29] chrishobcroft commented on #184
Did someone change something? Now it works on Brave on Ubuntu.

[2018-08-20 00:52] chrishobcroft commented on #185
I also experience this:

1. Load the mine page in Chromium (https://explorer.livepeer.org/mine)

2. Witness that the page doesn't load fully - only a blank page

3. Press F12 to view developer console

4. Page loads.

Does this have anything to do with it?

[2018-08-20 04:38] oneyesoneno commented on #184
same thing happen to me on chrome

[2018-08-20 05:18] kingjacob commented on #184
Getting the same error, on Brave & Chrome on OSX. Starting some time after 3am PT.

[2018-08-20 11:00] ya7ya opened #186 "Apollo and Merkle-Miner aren't published publicly to npm"
**Describe the bug (required)**
when installing `@livepeer/explorer` , npm throws a 404 error on `@livepeer/apollo` and `@livepeer/merkle-miner` , when checking npm, the libraries don't appear to be there or aren't published since it redirects me to the npm login page.

**Expected behavior (required)**
`npm install` should work as expected.

**To Reproduce (required)**
Steps to reproduce the behav

[2018-08-20 13:27] ya7ya commented on #186
@ericxtang , for now I solved it by using `npm link` on the missing libraries.

**example:**

[code]

[2018-08-20 18:13] #185 closed

[2018-08-20 20:43] ericxtang commented on #184
Fixed. It's because the IPFS gateway sometime disabling cors.  Switching to S3.

[2018-08-20 21:33] chrishobcroft opened #189 "Put "Earn LPT" above the fold"
**What's the problem? (required)**

The button to "Earn LPT" is our main "call to action" on https://explorer.livepeer.org/mine

Yet it appears below the fold of the page.

This means that someone must scroll to see it.

In this world of distraction, sometimes that's just too much to expect from people.

**What's the current behavior? (required)**

The "Earn LPT" button appears with small writing

[2018-08-21 22:14] yondonfu opened #190 "Add transcoder address to job info in SDK"
**What's the problem? (required)**

The SDK function `getJob()` currently will not return a transcoder address in the result object if the transcoder did not already submit an on-chain claim to store the transcoder address on-chain. In this case, `getJob()` should call the contract function [electActiveTranscoder](https://github.com/livepeer/protocol/blob/master/contracts/bonding/BondingManager.so

[2018-08-22 14:35] #184 closed

[2018-08-22 14:37] ericxtang commented on #103
Duplicate to https://github.com/livepeer/livepeerjs/issues/183

[2018-08-22 14:37] #103 closed

[2018-08-22 16:53] ericxtang opened #192 "Add Reward Call Via Supermax Endpoint"
**What's the problem? (required)**
When a token holder is making the delegation decision, # of missed reward calls is not exposed.  As a result, people just look at "Total Stake".  We don't want this to happen.

**What's the current behavior? (required)**
No information about reward calls is in the "transcoders" tab of the explorer.

**Do you have any personal experiences dealing with this problem

[2018-08-22 18:01] blake41 opened #194 "Documentation Update"
I was attempting to retrieve all the jobs of a broadcaster (getjobs).
getjobs shows a params object with a number of properties but omits broadcaster as a key i can pass in.  if you look at the actual code this is documented there but not in the docs.

also:
I assumed the "job object" returned
would be what is documented in the getjob function, but some information seemed to be missing.

I'd add s

[2018-08-22 18:04] blake41 opened #195 "livepeer media server http api docs"
As far as I know these do not exist.  I know I can ask for /manifestId as that is stated in the general getting started, but it would be cool to know what else is exposed, and/or have a place where people could request endpoints to be added.

One thing I thought might be fun to build is a way to see how many streams the livepeer media server was streaming at any given time.  This is pretty low pri

[2018-08-22 18:04] #195 closed

[2018-08-24 07:57] Matlemad opened #196 "Open Booking Form for crypto.livepeer.tv - Open Channel for ETH startups"
**What's the problem? (required)**
There's a **growing demand** from ETH startups to stream their meetups and workshops on Crypto.livepeer.tv (LPtv's second channel). Normally they ask us, Livepeer.tv freelance crew in Berlin, to do it. I believe there's a potential demand that Livepeer could meet directly, by opening a Booking Form on the channel.

**What's the current behavior? (required)**
They

[2018-08-24 14:34] yondonfu opened #197 "Update web3 instance access strategy"
**What's the problem? (required)**

Metamask and other dapp browsers will stop injecting an Ethereum provider/web3 instance in a few months and instead users will have to actively approve the injection of a web3 instance.

For more details see the following links:
- Metamask announcement: https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8
- Relevant E

[2018-08-24 14:58] iSasFTW commented on #197
I noticed this a while back when working on the player, but i was told to just use injected web3 for now. But it shouldn't be too much of a hassle to fix, right? (Just adding the web3 library manually, and changing the code to make it request an external web3 provider?)

[2018-08-24 15:54] yondonfu commented on #197
Yeah I don't think the fix should require too much work based on the description of the new pattern in the linked blog post - instead of automatically detecting an injected web3 instance, the application can request for user approval which posts a message that will prompt for web3 injection. UX might slightly change to provide users the ability to approve the use of a web3 provider when they land

[2018-08-24 16:41] iSasFTW commented on #197
@yondonfu Is Metamask's pattern to actually request Web3 injection? If i remember correctly, Mist started using a pattern where the DApp has to add the web3.js library, and the browser only injects the provider. Are Metamask and Mist doing the same, or is Metamask's approach different?

[2018-08-24 17:42] ericxtang commented on #196
@iSasFTW @Matlemad I think we can come together to do a small brainstorming.  This issue relates to a larger point that I've been thinking for a while, which is that we should have a homepage for livepeer.tv

I think this will help establish livepeer.tv as an application built on top of Livepeer, and create more freedom of experimentation (sign-up forms, different channels, different geo-locations

[2018-08-24 17:49] iSasFTW commented on #196
@ericxtang Yeah, that's a good idea. There's a lot of potential with creating a custom webapp for livepeer.tv. Besides, i would say that the logical course of action when building this issue(the booking system) would be to create a whole new page anyway, rather than extend the existing player to only have the feature when browsing a specific channel. (in this case crypto.livepeer.tv)

And i think

[2018-08-25 18:04] ya7ya commented on #183
@gitcoinbot https://github.com/livepeer/livepeerjs/pull/191
I'm working on it, gitcoinbot. back off :smirk:

[2018-08-25 22:49] Matlemad commented on #196
@iSasFTW do you mean a Tv App, with one channel and a menu where Crypto Community can book their slot and stream live 24/7 ?

I think it's important to limit to a target audience also for testing reasons.

This App could be downloaded/installed using a zero ETH txn (but gas), through Metamask.
maybe this could work as some sort of identity proof: every individual download will have its own hash.

[2018-08-26 05:27] iSasFTW commented on #196
@Matlemad By “app” I meant a web app (website) rather than a native app. And like @ericxtang said, it could be a site for all of Livepeer.tv. That way Livepeer.tv could have it’s own customized player pages for the different channels. (One for crypto with a booking system, one for the main channel, etc.)
And since Livepeer is encouraging developers to build their own apps that utilize Livepeer/liv

[2018-08-26 06:02] iSasFTW commented on #126
Yep, really tough to do with an SPA. Most of the webcrawlers that social sites use don’t load client-side JS at all, so the meta tags can’t be added to each page using react. You would have to prender each version of the player page for each streamer, and there are a few problems with that: 1. If all stream pages were prerendered when the site is deployed, most streams would have outdated pictures

[2018-08-28 02:28] #87 closed

[2018-08-28 06:10] adamsoffer opened #199 "Introduce an indexer for faster lookups and aggregate data"
### What's the problem?
In addition to providing a friendly user interface for token holders to delegate, the explorer plays an important role in helping token holders make informed decisions on which transcoders to delegate towards by exposing relevant transcoder data. Currently, the explorer gets this data directly and exclusively off the blockchain resulting in a less than desirable user experi

[2018-08-28 15:10] dob commented on #199
I am very excited about this! I think we can add a ton of user value by exposing indexed data to our delegators. My one suggestion would be to try to keep the UI resillient in the case of failures from The Graph node, since the project is so early in its development, and is not yet a reliable decentralized network. I'd expect the node to occasionally crash, or be unresponsive, or be slow, and I'd

[2018-08-28 23:09] Randy1Burrell opened #200 "Refactoring Views and TokenMiner component to 250 lines or below"
**What is this discussion about? (required)**
Refactoring the TokenMiner component in Mining view, Token, Transcoders and AccountOverview views.

**What do you hope to learn by the end of this discussion? (required)**
I want to find an approach for reducing the lines of code in the view/module.

**Additional context**
File TokenMiner.js has 422 lines of code (exceeds 250 allowed). Consider refacto

[2018-08-29 01:31] adamsoffer commented on #199
Happy to hear you're excited about this! Agreed, data availability is super important and would have to be paid close attention to. I'll make sure to configure a server for high availability along with a monitoring agent. I've had the node running over the last 24 hours and so far so good. In the likely event of one of those scenarios playing out as The Graph matures, we can probably check network

[2018-08-29 04:01] Randy1Burrell opened #201 "There is currently no documentation to show developers how to use the graphql-sdk"
**What's the problem? (required)**
https://github.com/livepeer/livepeerjs/tree/master/packages/graphql-sdk has no documentation for how to use the graphql-sdk.

**What's the current behavior? (required)**
The README has pretty good type documentation, but no guidance on how the graphql-sdk could be used to develop video streaming applications.

**Do you have any personal experiences dealing with t

[2018-08-29 15:13] chrishobcroft commented on #177
Here is another specific example of a page with embedded iframe streams from Livepeer which is not working on Brave :(

http://ethberlin.com/livestream

:)

[2018-08-29 15:28] chrishobcroft opened #202 "Embedded player is flickering inside its iframe"
**Describe the bug (required)**

When embedding a stream being served by livepeer's platform in a webpage using the iframe, it is producing unwanted flickering.

See this video for evidence: https://youtu.be/8xBsQN5o6Mo

This issue is resolve if a user clicks "full screen" in which case it fills the frame it's embedded in, and stops flickering.

**Expected behavior (required)**

When the player is

[2018-08-29 15:42] iSasFTW commented on #177
@chrishobcroft You're right. Brave's "Block 3rd party cookies" option blocks the players. (A relatively common issue, it also accidentally blocks a lot of media content on other sites, too) When it is turned off, the loading indicator appears. Not getting any video on the ethberlin site though, is the stream live anyway? The ipfs link isn't loading for me at all. (Perhaps the file was removed from

[2018-08-29 16:39] ericxtang opened #203 "Media Player Intermittently Hangs"
**Describe the bug (required)**
The media player intermittently hangs when loading the video.

**Expected behavior (required)**
The media player should quickly figures out whether the video is play-able, and display the correct information.

**To Reproduce (required)**
Steps to reproduce the behavior:
Simply launch the media player.

**Device (required):**
 - Desktop browser

**Screenshots (option

[2018-08-29 17:47] iSasFTW commented on #202
Hi @chrishobcroft! You can just add `scrolling="no"` to the iframe element. `scrolling` is actually a deprecated attribute, and is no longer officially supported by HTML5, but still works in all major browsers. A more elegant and up-to-date solution would be to use CSS: `iframe { overflow: hidden; }`

[2018-08-30 22:28] ericxtang commented on #196
@iSasFTW currently the media server doesn't respect stream keys and don't have RTMP stream authentication.

A possible next step here can be:
1. Create a livepeer.tv homepage.  It can be a simple landing page with an embedded google form that allows people to request for a stream key.  The livepeer.tv app hardcodes a list of `EthKey => ingest IP` maps as broadcasting address to ingest node locatio

[2018-08-31 00:11] ericxtang commented on #202
@chrishobcroft does that solve the issue? If so we can close this issue.

[2018-08-31 13:51] #171 closed

[2018-08-31 14:47] Matlemad commented on #196
wow @ericxtang, great to hear.

I have only one question, to which URL would the stream be directed for viewers to watch?
it would help this usage trend spread if there was a possibility to generate something like name.livepeer.tv

[2018-08-31 14:56] iSasFTW commented on #196
@Matlemad It would probably just be livepeer.tv or (subdomain).livepeer.tv, but those would be set to point to the new website instead of media.livepeer.tv

[2018-08-31 17:12] ya7ya commented on #183
@gitcoinbot the PR is ready #191 , Awaiting Funder's review / approval

[2018-08-31 20:29] yondonfu opened #204 "sdk: Use pending stake return value when fully unbonding"
**What's the problem? (required)**

The SDK currently implements full unbonding by querying for a delegator's bonded amount and then passing the value as a parameter to the `BondingManager.unbond()` [function](https://github.com/livepeer/livepeerjs/blob/master/packages/sdk/src/index.js#L1879). This will not actually fully unbond the delegator if it has unclaimed rewards for past rounds because `Bo

[2018-09-03 17:30] #183 closed

[2018-09-05 17:14] chrishobcroft opened #205 "When embedding multiple streams in a single webpage, "fullscreen" is horrible :)"
**Describe the bug (required)**

We have 3 livepeer livestream embedded at ethberlin.com/livestream.

When you click "fullscreen" on one of the embedded livestreams, it goes fullscreen, but puts the fullscreen one at the back - and shows the smaller screens on top.

**Expected behaviour (required)**

When I select one of the streams to be "fullscreen", this should be the only thing I see.

**To Re

[2018-09-05 18:08] j0sh commented on #203
Even better would be to avoid a blockchain lookup entirely. See https://github.com/livepeer/go-livepeer/issues/556

This would also allow for off-chain viewing of streams.

[2018-09-05 21:15] pmaojo commented on #205
Does this problem occur only on a Laptop with Chromium and Ubuntu?

[2018-09-05 23:02] chrishobcroft commented on #205
That's my only experience so far. I'm now trying to get my girlfriend's macbook to test it there.

But she says it won't connect to the internet because internet is nonsense.

So, for now, I only have Chromium on Ubuntu on Lenovo to test it on.

Can someone replicate this bug on another platform?

[2018-09-05 23:30] pmaojo commented on #205
On an iPhone 4 no streaming is displayed, not even black frames.

[2018-09-06 00:01] chrishobcroft commented on #205
Yeah, that's most likely something about the power of the iPhone 4.

We're working on adaptive bitrate streaming, but it's not been implemented in the player yet: https://github.com/livepeer/livepeerjs/issues/183

[2018-09-06 05:40] iSasFTW commented on #205
@chrishobcroft @pmaojo I’ve been able to replicate this in Brave(Blink render engine, just like chromium) on Windows 10.

[2018-09-06 07:58] pmaojo commented on #205
This is also happening on Chrome (Mac OSX).

**The guilty is the fade in animation**

[2018-09-06 08:00] pmaojo commented on #205
Setting opacity:1 style and removing .et_animated class fixes this,
removing fade in effect (not much value for user)

[2018-09-06 09:16] iSasFTW commented on #205
@pmaojo You can detect fullscreen changes using the Fullscreen API. But if the problem the fade effect, it’s probably a better idea to just remove the effect from the Ethberlin site itself, rather than modify the code of chroma/the player to make it work better with that specific site.

[2018-09-06 11:06] pmaojo commented on #205
Should this issue be opened on https://github.com/livepeer/ethberlin/issues instead?

[2018-09-06 11:09] iSasFTW commented on #205
@pmaojo Perhaps, but i think at this point the problem can be solved by just having the maintainer of the Ethberlin Wordpress site remove the effect, so maybe we can just close this issue and pay out the bounty if that works.

[2018-09-06 14:27] chrishobcroft commented on #205
So, I supplied this code to the maintainer of the ETHBerlin Wordpress site:

[code]

Can someone please update these iframes and I can share with the ETHBerlin contact.

OR... tell me if something else needs to happen?

[2018-09-06 14:30] iSasFTW commented on #205
@chrishobcroft If the problem is with the fading effect, then the maintaner should probably remove that effect from the site. I don’t think it would be practical to try to accommodate for that in the code of the player/chroma, much better to just have the maintainer fix it on their side.

[2018-09-06 15:12] pmaojo commented on #205
@chrishobcroft I replaced your iframes with Youtube iframes and the behaviour is exactly the same on that page, so we can conclude that this should be fixed on the webpage, and removing the decorative fade in effect.

[2018-09-06 19:55] ya7ya opened #206 "`@livepeer/sdk` works with import but not require out of the box"
**Describe the bug (required)**
[code]

this happens because the function in question is actually called `createLivepeerSDK` but exported this way

[code]

this is apparently not picked up by `require` , so in order to get it to work now we gotta use this

[code]

**Expected behavior (required)**
both `require` and `import` should work out of the box

**To Reproduce (required)**
Steps to reproduce

[2018-09-07 13:32] pmaojo commented on #205
@chrishobcroft will you mark work as done on gitcoin?

[2018-09-07 15:57] chrishobcroft commented on #205
Thanks to all three of you for being a lovely little semi-autonomous hack team for ETHBerlin!

Now, sit back, and enjoy your work, at http://ethberlin.com/livestream

Well done, and thank you for this final polish!

[2018-09-07 17:03] bleushark1988 commented on #158
I am working  on this issue yet.  for resolve this issue, I need to review all functions. So it will take some time.

[2018-09-14 01:36] vs77bb commented on #183
Hi @ericxtang mind paying this one out on Gitcoin? @ya7ya sorry about the overly pushy @gitcoinbot, we're working on training it still 🙂

[2018-09-14 16:28] #162 closed

[2018-09-14 16:28] #180 closed

[2018-09-14 19:01] j0sh opened #208 "Use `stream/current.m3u8` playback endpoint"
**What's the problem? (required)**

There are two problems:

1. The player looks up the most recent job on the blockchain and uses that StreamID to request the stream. However, there are scenarios where the active job on the node is *not* the most recent job. If this happens, the player will not have the correct Stream ID. Related: https://github.com/livepeer/go-livepeer/issues/556

2. Network loo

[2018-09-15 03:31] Randy1Burrell commented on #179
This issues was fixed in PR #198.

[2018-09-15 03:31] #179 closed

[2018-09-17 17:00] dob opened #210 "MultiMerkleMine txns are occasionally sending to the 0x000 address"
**Describe the bug (required)**
Two separate users have reported incidents where they've tried to mine LPT using the web based MultiMerkleMiner, and the txns get submitted to the "to" address of 0x0000000..., the null address. This attempts to create a new smart contract and fails.

**Expected behavior (required)**
It should have a "to" address of the MultiMerkleMine smart contract.

**To Reproduc

[2018-09-17 18:34] yondonfu opened #211 "Lack of precision in formatted LPT/ETH amounts leads to user confusion"
**Describe the bug (required)**

The [formatBalance](https://github.com/livepeer/livepeerjs/blob/master/packages/explorer/src/utils.js#L80) helper is used in various places in the explorer to create a formatted string representing an amount of LPT/ETH. The function accepts a `decimals` parameter to specify the level of precision to use when representing the input amount which defaults to 8. At the

[2018-09-17 18:43] yondonfu opened #212 "Clearer language when presenting the last reward round for transcoders"
**What's the problem? (required)**

At the moment, the explorer displays a transcoder's last reward round along with a message saying: "Transcoder has not claimed rewards this round" if the transcoder has not called reward yet for the current round. This can be confusing for a user such that the user thinks that the transcoder did not call reward for the last reward round when in fact the UI is re

[2018-09-17 20:06] #204 closed

[2018-09-18 17:42] Randy1Burrell opened #213 "Developer Onboarding Documentation"
**What is this discussion about? (required)**
This discussion will be centred around developer on-boarding documentation.

**What do you hope to learn by the end of this discussion? (required)**
I would like to learn developers' thoughts about what they would like to see for documentation concerning developer on-boarding. For example, some developer prefer getting started guides while others prefe

[2018-09-18 17:48] dob commented on #213
1) Is this issue aimed around a developer using Livepeerjs to build something? Or a developer contributing to the Livepeerjs codebase?

2) I believe that there were originally generated docs for the SDK layer, but haven't been able to locate them. Anyone know what happened to that generated doc site?

[2018-09-18 17:56] Randy1Burrell commented on #213
@dob I think both contributing to Livepeerjs and being able to build an application with the SDK goes together. The way I look at it is, if you understand how Livepeerjs works then it will be pretty easy to contribute to it and build an application with it.

[2018-09-18 20:41] Randy1Burrell commented on #210
@dob I have been investigating this bug but was unable to recreate it. I searched the database and found that the genesis address (0x0000000000000000000000000000000000000000) was some how included in the list of valid addresses. I did some research about it and had a discussion with @yondonfu who informed me that submitting proofs for this address can cause this bug. I have deleted this address fr

[2018-09-18 21:11] dob commented on #210
Ok. I would be surprised if that was the only cause because one user saw
this issue on 3 straight txns and the odds of that would be pretty low. But
it's possible! We'll keep an eye out.

On Tue, Sep 18, 2018 at 4:41 PM Randy Burrell <notifications@github.com>
wrote:

[2018-09-18 21:28] Randy1Burrell commented on #210
@dob I am going to continue investigating this bug.

[2018-09-19 22:44] jozanza commented on #213
Knowing the basics of the Livepeer protocol is also essential.

For LivepeerJS, API documentation already exists and is pretty thorough, but it's actually kind of difficult to know when or why you would call any particular method imho.

Additionally, it's also hard to know what sorts of things you could build with the SDK even if you can grok the method signatures and know the basics of Ethererum.

[2018-09-20 16:59] adamsoffer commented on #199
Following up with where things are at with the Graph Protocol + Livepeer Explorer integration:

### Todos
- [x]  Add all Bonding Manager events necessary to the Livepeer subgraph in order to recreate the current state of the transcoder set
- [x]  Set up a Google Cloud instance running a Graph Node for indexing incoming event data (as specified in the subgraph), storing data in a Postgres database,

[2018-09-20 20:18] dob commented on #199
Two points about the blocker with unreliable infura ws endpoints...

1) I assume that this not a client-specific connection in the browser, but instead a connection from the graph indexing node to infura? If so, is there a configuration option to point it at a locally running geth (light) node for example?

2) I got a note from The Graph team that they were aware of the issue and has a fix coming

[2018-09-20 21:57] adamsoffer commented on #199
Ah there is indeed a configuration option to point it at a locally running geth node. I'll give that shot. Thanks.

[2018-09-21 13:52] #212 closed

[2018-09-21 19:29] Randy1Burrell commented on #210
@dob let's close this issue. We can reopen if this bug reappears.

[2018-09-21 19:29] #210 closed

[2018-09-21 19:38] Randy1Burrell commented on #202
@chrishobcroft has this problem been solved by the suggestion? If so I would like to close this issue.

[2018-09-21 19:44] chrishobcroft commented on #202
Yes please close it

On Fri, Sep 21, 2018 at 9:38 PM Randy Burrell <notifications@github.com>
wrote:

--
*Chris Hobcroft*
*Creative Director*
Livepeer <http://livepeer.org/>
+4915163846782
chris@livepeer.org
@chrishobcroft <http://www.twitter.com/chrishobcroft>

[2018-09-21 19:45] Randy1Burrell commented on #199
@adamsoffer I am not able to access [Livepeer Subgraph GraphQL endpoint](http://35.237.114.197:8000/cli). I wanted to run some tests on this.

[2018-09-21 19:48] adamsoffer commented on #199
Oops, looks like the instance ran out of space and crashed. I'll add more storage space and rerun.

[2018-09-21 19:54] Randy1Burrell commented on #202
Ok great.

[2018-09-21 19:54] #202 closed

[2018-09-21 19:58] Randy1Burrell commented on #199
@adamsoffer a concern with this you might be able to address for me is the memory utilization that causes it to crash.
- How long have this instance been running?
- Under what load and time period does it crash?
- Any ideas about what can fix this issue for these metrics?

I ask because I would not want to see this happening in production under similar loads.

[2018-09-21 19:59] Randy1Burrell commented on #196
@Matlemad have this issue been solved for you? If so I would like to close it.

[2018-09-21 20:27] Randy1Burrell commented on #189
@chrishobcroft this might throw off people who visit the page. They may not see the instructions on the page and a big green button at the top of the page might not look welcoming to visitors. I wouldn't want to give the wrong impression.

[2018-09-21 20:28] Randy1Burrell commented on #186
@ya7ya can we close this?

[2018-09-21 20:28] adamsoffer commented on #199
Yeah uptime is super important. It's been running for a few weeks. Must of crashed this morning. I've been using the smallest possible instance size on Google Cloud while testing.

TBH I haven't paid much attention to the devops side of things yet - just trying to get everything working first. I can ask the Graph team what type of server environment they recommend for running a Graph Node reliably

[2018-09-21 20:38] Randy1Burrell commented on #199
@adamsoffer Safe travels.

I would love to hear what the Graph team recommends for this. Availability and reliability will make or break any platform.

Let me know what you need in regards to devops and I will see what I can do. I would be happy to give you my feedback and full support in getting this ready for deployment.

[2018-09-21 20:43] ya7ya commented on #186
@Randy1Burrell Yeah, I'll go ahead and close it 👍

[2018-09-21 20:43] #186 closed

[2018-09-21 20:49] Randy1Burrell commented on #206
@ya7ya Great idea. A few questions though.
- Would this break any application that currently depends on the LP SDK?
- Could we do something like:
[code]

Just to make sure there is backwards compatibility. Then in a few months we deprecate this. Not sure the code is right but just asking if this might be a better solution.

[2018-09-21 20:52] #190 closed

[2018-09-21 20:55] ya7ya commented on #206
Yeah, That's a good point @Randy1Burrell , We should probably do that. I'll check if that solves it and submit a PR

[2018-09-21 20:57] Randy1Burrell commented on #206
@ya7ya great, thanks! Can we assign this to you and put it in sprints--> in progress?

[2018-09-21 21:12] Randy1Burrell commented on #177
@chrishobcroft I have not seen any response from @janumpallykalyan for the past 2 1/2 weeks about this issue. Can we withdraw this issue from him on gitcoin and give it to someone else if he does not respond buy Tuesday?

I need to get some of these issues cleared out, so that I can know where the repository stands health/bug wise.

[2018-09-22 01:00] Randy1Burrell commented on #153
@dob and @darkdarkdragon I'm closing this. If this becomes an issue again then we can reopen it.

[2018-09-22 01:00] #153 closed

[2018-09-22 01:11] Randy1Burrell commented on #170
@gjgd Thanks for reporting this issue.

- I will change to "top 15".
- Maybe this is because I a using Linux but the second tooltip seems to appear where it should whenever I test it. Was there any special condition in your browser environment when this happened?

[2018-09-22 01:13] Randy1Burrell commented on #163
Closing this.

[2018-09-22 01:18] Randy1Burrell commented on #142
@yondonfu will you still be doing gitcoin for this?

[2018-09-22 01:20] Randy1Burrell commented on #152
@ericxtang is this still an issue?

[2018-09-22 01:29] Randy1Burrell commented on #107
@Matlemad, @f1l1b0x and @jozanza has this issue been resolved? I would love to close this.

[2018-09-22 02:34] j0sh commented on #107
It's not resolved yet, but it's a [LPMS issue](https://github.com/livepeer/lpms/issues/60); livepeerjs isn't involved at that level. Once goclient supports audio-only streams, then the JS player should be able to handle it without issues.

[2018-09-22 03:03] Randy1Burrell commented on #107
Ok, @j0sh so I guess this can be closed then?

[2018-09-22 03:28] gjgd commented on #170
I don't see the second tooltip error either now. Maybe it was just a bug on my machine at the time

[2018-09-22 03:30] Randy1Burrell commented on #170
Ok great. Thank you for clearing that up.

[2018-09-23 06:35] Matlemad commented on #196
@Randy1Burrell  I think there is still the need for an open channel to be made available for ETH community. I'm not that familiar with Github yet. If we close this, would these infos be still retrievable?
thanks

[2018-09-23 06:38] iSasFTW commented on #196
@Matlemad Yeah, the issue wouldn’t disappear or anything, it just wouldn’t show up in the main open issues tab. I think this should actually have its own repository, separate from livepeerjs, considering it would be a separate project.

[2018-09-23 06:42] Matlemad commented on #196
Right. Then I think we have added everything we needed!

[2018-09-23 06:43] #196 closed

[2018-09-23 23:47] adamsoffer commented on #199
@dob Update: pointing at a locally running ethereum node in fast mode does seem to fix that Websocket issue. However, in order to access smart contract state in subgraph mappings we would need to run an archive node which takes weeks to sync. If all the indexed data needed for the explorer was on the event / transaction we could get away with a regular full node, but there is some some transcoder

[2018-09-24 09:52] chrishobcroft commented on #196
@iSasFTW I agree that something like this could have it's own repository, as it is a big enough project / service that it could exist as a separate entity.

This can be a place to start to define how it might work, e.g.

Design
- Brand / Name
- Project Brief,
- UX / UI,
- Graphic Design,
- Architecture,
Build
- Back-End Development
- Front-End Development
Operate
- Hosting
- Monitoring

@Matlemad

[2018-09-24 14:09] dob opened #216 "Mining is unavailable due to lambda timeouts"
**Describe the bug (required)**
Users trying to use the web based MerkleMine are seeing "Mining is unavailable." The underlying lambda is timing out.

**Expected behavior (required)**
Mining succeeds

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to explorer.livepeer.org/token
2. Unlock Metamask
3. Try to mine with default configuration
4. Observe the issue

**Device (required

[2018-09-24 14:12] yondonfu opened #217 "Cannot transfer LPT from explorer"
**Describe the bug (required)**

The transfer LPT button in the explorer does not work.

**Expected behavior (required)**

Entering a valid ETH address and valid LPT amount should submit a transfer transaction.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to the My Account tab in the explorer
2. Click on the Transfer button in the Livepeer Token Balance card
3. Enter a valid

[2018-09-25 05:27] Randy1Burrell commented on #216
I fixed it. Closing this.

[2018-09-25 05:27] #216 closed

[2018-09-25 05:28] #217 closed

[2018-09-25 05:29] #206 closed

[2018-09-25 21:19] #119 closed

[2018-09-25 21:20] dob commented on #199
Yah, good news about the open PR, because running an archive node would be a non-starter. Even if you can get it synced, it "breaks", and then is useless, without proper operational overhead and redundancies

[2018-09-26 02:28] ryan-shea commented on #183
Hey @ericxtang, Ryan from Gitcoin here. Wanted to check in with you on this issue -- do you think you could pay it out on Gitcoin? Feel free to message me if you have any concerns :)

[2018-09-26 16:30] Randy1Burrell commented on #213
Thanks @jozanza I will look into your suggestion. Does anyone else have any suggestion on the matter?

[2018-09-26 18:35] chrishobcroft commented on #202
Hey @Randy1Burrell, I don't think it's in Brave, but in Gitcoin. I will do what I can to remove it.

[2018-09-26 18:41] chrishobcroft commented on #202
Yes, removing from Gitcoin

[2018-09-27 21:24] ericxtang opened #221 "Create Partial Unbonding UI Spec"
**What's the problem? (required)**
Currently the protocol supports partial unbonding, but the explorer UI does not.

**What's the current behavior? (required)**
No partial unbonding.

**Describe a possible solution you've considered (optional)**
Let's create a spec for how we plan to expose partial unbonding in the UI.

**Additional Context**
[See](https://github.com/livepeer/LIPs/issues/5) for de

[2018-09-28 00:35] Randy1Burrell commented on #189
@chrishobcroft I am closing this issue because there is less than 8% of tokens left so updating the UI now to move the button might not be the best thing to do.

[2018-09-28 00:35] #189 closed

[2018-09-28 00:53] Randy1Burrell commented on #126
@chrishobcroft and @dob this is not a simple issue but I will spend some time looking into what can be done about it.

[2018-09-28 01:02] Randy1Burrell commented on #107
@jozanza, @f1l1b0x, @Matlemad and @j0sh Thanks! @Matlemad please link back to this issue from the feature request issue. Closing this now.

[2018-09-28 01:02] #107 closed

[2018-09-28 01:33] Randy1Burrell opened #222 "Plan to deal with issues that are pilling up"
**What is this discussion about? (required)**
Issues are pilling up in LivepeerJs repo.

**What do you hope to achieve by the end of this discussion? (required)**
I feel the issues on LivepeerJs needs to be dealt with promptly. Over the next few weeks I will be trying to decrease these issues to a maximum of 10 issues remaining. The objective here is to make sure the cracks in the foundation of Li

[2018-09-28 01:51] Randy1Burrell opened #223 "CI bot for Explorer and LP SDK among other things"
**What's the problem? (required)**
Deployment of dapps in Livepeerjs is cumbersome, manual and takes too long to be done. It depends on @ericxtang or someone else on LPs team who might already be busy solving problems to help move LP's projects forward.

**What's the current behavior? (required)**
You have to deploy the Explorer manually every time a change is made.

**Do you have any personal exp

[2018-09-28 13:05] RobbieRich opened #224 "Gas Ptice?"
Sorry, mining is unavailable at this time. Please try again later. Error getting addresses from server. This might be a netwok problem. Please try again later. If the problem persists contact livepeer administrators in their discord group.
This is the message i am getting ! What am I doing wrong ? eth 0.25 gas price 15

[2018-09-28 14:28] Randy1Burrell commented on #224
@RobbieRich Thanks for reporting this issue. It should be fixed now, you can test it and let me know.

[2018-09-29 00:30] #224 closed

[2018-10-01 15:34] chrishobcroft opened #228 "https://explorer.livepeer.org/me could show BONDED stake, *as well as* UNBONDED stake."
**What's the user story? (required)**

As a user, when I view my account, I would like to be able to see my BONDED stake **as well as** my UNBONDED stake of LPT.

**What's the current behaviour? (required)**

The OVERVIEW page is the first page presented to a user when they go to MY ACCOUNT.

Currently, the OVERVIEW section of MY ACCOUNT in explorer shows:

1. ETH Address
2. ETH Balance
3. `0 LPT`

[2018-10-01 17:14] chrishobcroft opened #229 "Broadcaster Community Crowdfunding"
**What's the user story?**

As a **Broadcaster** in Livepeer's network, I would like to make it _really_ easy for my **Community** to support my activities.

**What's the current behaviour?**

As a **Broadcaster**, I can fund _my own_ account with ETH - see _View as_ **_Broadcaster_** screenshot below:

![image](https://user-images.githubusercontent.com/2212651/46299360-79487b80-c5a1-11e8-8ed4-71b

[2018-10-01 17:59] j0sh opened #230 "Show round number with txn reward history"
**What's the problem? (required)**
On a transcoder's transaction history page, we can see when they call reward on a round. However, it's not as straightforward to determine which round that call applies to. For example, some days reward is called twice, some days are skipped, etc. This may be due to skew, but it's hard to tell. Being able to see the round number along with the reward call would h

[2018-10-01 20:04] iSasFTW commented on #229
There is already a tipping option in the player. It shows up when you have Web3 unlocked. It lets you tip ETH to the broadcaster’s address. Is that the sort of functionality you are looking for, or would it need to be expanded somehow? Are you thinking of having this in the Explorer or the Player?

[2018-10-02 16:45] j0sh commented on #229
@iSasFTW the tip goes towards the broadcaster's account balance, but doesn't actually go into the deposit that's meant for broadcasting. Perhaps we could change the tipping behavior so that it's applied towards the deposited balance.

[2018-10-02 16:50] RaffiSapire commented on #229
The goal of this work is functionality that a video application should
build to support a broadcaster, but out of scope of building out Livepeer's
open source infrastructure
ᐧ

On Tue, Oct 2, 2018 at 12:45 PM Josh Allmann <notifications@github.com>
wrote:

[2018-10-02 22:03] chrishobcroft commented on #229
Thanks @j0sh for clarification.

@iSasFTW I'm thinking of this in a broader context of some sort of product for Broadcasters - which an embryonic concept in my mind.

@RaffiSapire thanks for chiming in. I don't mind who builds.

[2018-10-02 23:46] f1l1b0x commented on #229
the idea that the broadcast node is also the content creator is flawed.
in v2 a single broadcast node will handle many streams and might be just a gateway for content creators on all kinds of platforms.
It is better if tipping functions being direct between the artist and the viewer and it does not need to get squeezed into the livepeer protocol since anyone could always build a tipping button for

[2018-10-03 00:05] dob commented on #229
I think the discussion and brainstorming around this is great inspiration for the type of broadcaster apps that can be built on the platform. But as Randy is working hard to keep the issues in the LivepeerJS repo organized, and focused on the core platform rather than applications, perhaps a better place for the discussion is in the project board for "project proposals", which is designated exactl

[2018-10-03 12:30] yondonfu opened #233 "Fetch maxEarningsClaimsRounds value from BondingManager"
**What's the problem? (required)**

The explorer hardcodes 20 as the max number of rounds that a delegator can claim earnings for in a single transaction. Instead, the explorer should fetch the `maxEarningsClaimsRounds` parameter from the BondingManager contract so that even if the parameter value changes, the explorer will still be able to craft transactions that use the updated parameter value a

[2018-10-03 17:37] kingjacob opened #234 "Running out of Gas when attempting to bond"
Used the gas limit(650K) and gas price suggested by metamask and ran out of gas.
<img width="742" alt="screen shot 2018-10-03 at 10 39 34 am" src="https://user-images.githubusercontent.com/806312/46428376-a5c2db80-c6f8-11e8-88af-356681336339.png">

Only thing I can think of is maybe the gas limit calculation is off because it includes 20rounds of claims?

Edit: Nope, manually raised the gas limit

[2018-10-04 15:15] dob commented on #234
I also saw that we have run out of gas on the default `initializeRound()` txn lately, despite it using slightly less than the offered gas. I think we should address this by increasing the default offered gas for:

* bond(): 750000
* initializeRound(): 3200000

[2018-10-04 17:01] #182 closed

[2018-10-04 20:45] veox commented on #92
I'm experiencing this with `parity-ethereum` v2.0.6.

[2018-10-05 04:24] Randy1Burrell opened #235 "Continuous Integration and Deployment with CircleCI and Hubot"
**What's the problem? (required)**
Deploying LivepeerJs' different packages to production has to be done manually. This poses a problem because it is tedious and can be error prone to build each package manually. It also depends on persons with the required permission to find time to build and deploy packages, which is also a problem because that person's OS could have been compromised and in turn

[2018-10-05 09:32] ya7ya opened #236 "Player initial flow logic after introducing `/current.m3u8` endpoint"
**What is this discussion about? (required)**
the `livepeerjs/player` currently uses the `sdk` along with the broadcaster ETH address to get the latest Job and pull that manifest. with the introduction of `current.m3u8`, and #227 , we don't need the blockchain lookup.

**What do you hope to learn by the end of this discussion? (required)**
We should be able to decide whether we want to take the `s

[2018-10-05 13:10] dob commented on #236
I know this is a little late, as it relates to `current.m3u8` since we already have the functionality, but since this is a Discussion thread...

I'm not sure how useful `current` is in the context of many streams per ingest node. Imagine you're building a scaled video application - you likely run one ingest node for many of your users streams concurrently - so the concept of requesting the `curren

[2018-10-05 15:04] j0sh commented on #236
Yeah, `/current.m3u8` was built to accommodate our immediate needs, and the [original ticket](https://github.com/livepeer/go-livepeer/issues/556) explicitly says that the behavior becomes undefined once we support multiple streams per broadcaster.

Once we support multiple streams, we'd need another querying mechanism entirely, since the old blockchain lookup wouldn't work either.

[2018-10-06 13:03] iSasFTW commented on #177
If this issue is closed, can the gitcoin bounty be removed too? I keep getting emails from this thread.

[2018-10-07 03:28] #170 closed

[2018-10-07 20:43] #142 closed

[2018-10-07 23:52] Randy1Burrell commented on #211
@yondonfu I am not able to reproduce this issue. Can you give a little more details on this?

[2018-10-07 23:57] Randy1Burrell commented on #234
@dob PR #237 fixes this so I'm closing.

[2018-10-07 23:57] #234 closed

[2018-10-08 04:30] iSasFTW commented on #181
Does the SDK already have a way to check this?

[2018-10-08 05:16] Randy1Burrell commented on #213
This can be closed because the issue to do the documentation is in progress.

[2018-10-08 05:16] #213 closed

[2018-10-08 16:48] #172 closed

[2018-10-08 17:09] yondonfu commented on #211
Here is an example:

On Rinkeby, I bonded 10000000000 LPTU (base units of LPT where 1 LPT = 10^18 base units).

When I approve that amount prior to bonding, the transfer allowance modal says that I approved 0 LPT:

![screen shot 2018-10-08 at 10 05 42 am](https://user-images.githubusercontent.com/5933273/46623213-e9538600-cafa-11e8-8f52-d2fe510b14a2.png)

When I am bonded, the delegating page says

[2018-10-10 06:00] ericxtang commented on #200
This is probably not needed anymore.  Can we close it?

[2018-10-11 13:30] adamsoffer commented on #199
Update:

The Graph team [released a fix](https://medium.com/graphprotocol/the-graph-development-update-dbede6136dab) for the unreliable infura endpoints. I noticed there were still a couple issues causing the node to error out, but they were resolved over the weekend at ETHSF with the help of the Graph team. That, along with [some updates made to the Livepeer subgraph](https://github.com/adamsoffe

[2018-10-11 13:43] dob commented on #199
Excellent, count me in for the Goog hangout walkthrough. Agree that at this point it seems to be more about dev ops of adding this piece of infrastructure than maintaining the actual functionality, but the fact that we have graceful fallbacks to blockchain looks is great!

[2018-10-11 14:32] Randy1Burrell commented on #199
@adamsoffer sounds great.

[2018-10-15 01:55] ryan-shea commented on #183
Hey @ericxtang, wanted to follow up here. Do you have any questions with this? Would love to get this taken care of on Gitcoin :)

[2018-10-15 03:10] arthurk commented on #92
Sorry but I can't do it. I reported the bug in May and don't have the details anymore.

[2018-10-15 14:11] veox commented on #92
@Randy1Burrell, my system:

OS: Arch Linux 64-bit
Browser: Firefox `v62.0.3`
Wallet: MetaMask `v4.9.2`, with "Localhost 8545" setting (aka "Private network")
Localhost node: Parity-Ethereum `v2.0.6`

-----

I've dropped the console log to [a gist](https://gist.github.com/veox/dd8a482d711eb8e0192cc7947e05bba4#file-1-console-log) (but it's horribly misformatted). I can't provide a screenshot.

This

[2018-10-15 14:25] veox opened #244 "Delegating page becomes unpopulated after claiming reward, when using local Ethereum node"
This has been extracted from https://github.com/livepeer/livepeerjs/issues/92, which I can no longer reproduce.

OS: Arch Linux 64-bit
Browser: Firefox `v62.0.3`
Wallet: MetaMask `v4.9.2`, with "Localhost 8545" setting (aka "Private network")
Localhost node: Parity-Ethereum `v2.0.6`

-----

Dropped the console log to [a gist](https://gist.github.com/veox/dd8a482d711eb8e0192cc7947e05bba4#file-1-con

[2018-10-15 20:13] Randy1Burrell commented on #92
@arthurk thanks for reporting this in May and your response to my request.

@veox thanks for the details in the new issue.

I am closing this now because it no longer affects you. If it pops up again we can always reopen it.

[2018-10-15 20:13] #92 closed

[2018-10-17 05:32] Randy1Burrell commented on #211
@yondonfu I have updated the code.

[2018-10-20 08:05] chrishobcroft commented on #222
Hi Randy,

Well done on managing the livepeerjs repo, and the issues. If you would like some help with reviewing these, let me know if you would like to get on a call sometime next week to talk about them.

All the very best,

Chris

[2018-10-20 08:24] chrishobcroft opened #247 "Allow users of Livepeer Explorer to claim 100 rounds of Earnings"
**What's the problem? (required)**

Users of explorer.livepeer.org are only able to claim up to 20 rounds of earnings at a time.

Since the recent protocol change, it should be possible to claim up to 100 rounds in one go.

**What's the current behaviour? (required)**

In the cases where a user has not claimed for between 21 and 100 rounds, they must submit multiple transactions (up to 5), in orde

[2018-10-20 11:32] chrishobcroft commented on #247
I don't know about implementation, but my proposed solution is as above.

I personally don't find the slider to be so intuitive, and the user I just sat with had very little idea about what she was supposed to do with the slider.

[2018-10-20 14:42] yondonfu commented on #247
Just wanted to note that PR #245 will enable users to claim earnings for more rounds (does not make any additional UI updates aside from updating the max value of the slider).

In this scenario, the last transaction to claim 9 rounds is actually unnecessary if the user intends to bond, rebond or unbond because any of those actions will also automatically claim the remaining rounds. This could prob

[2018-10-22 15:59] Randy1Burrell commented on #222
@chrishobcroft Thanks for reaching out. How about we schedule a call sometime on Wednesday?

[2018-10-22 23:15] #211 closed

[2018-10-23 00:49] Randy1Burrell opened #248 "Player throws Unhandled Rejection (TypeError): Cannot read property 'streamId' of undefined"
**Describe the bug (required)**
An error is thrown in the player whenever broadcasters' addresses are searched for that no stream has been found for.

**Expected behavior (required)**
Player should says current broadcaster is offline.
[localhost-1540251508737.log](https://github.com/livepeer/livepeerjs/files/2503907/localhost-1540251508737.log)

**To Reproduce (required)**
Steps to reproduce the b

[2018-10-24 12:29] #106 closed

[2018-10-24 14:39] Randy1Burrell commented on #248
PR #243 fixes this issue. Closing.

[2018-10-24 14:39] #248 closed

[2018-10-24 14:40] Randy1Burrell commented on #208
@ya7ya does PR #243 fix this issue?

[2018-10-24 15:15] ya7ya commented on #208
@Randy1Burrell Yeah. it does 👍

[2018-10-24 20:57] Randy1Burrell commented on #208
Closing this.

[2018-10-24 22:01] dob commented on #158
@iSasFTW I'd certainly be interested in using a productized version of this. One example that we've seen so far is this simple SMS alerting app from Bison Trails: https://gist.github.com/aaronhenshaw/d3c206a07fd86e286da3974da22979de

But there's probably a different take on the productization of this - how and when are alerts delivered, how do I opt in/out, etc. I'd rather sign up for a service th

[2018-10-24 23:19] frankchen07 commented on #44
hey @jozanza - Frank from Gitcoin here - pinging you to see if it makes sense to close out the bounty ^

[2018-10-25 00:18] ryan-shea commented on #158
Hey @bleushark1988, Ryan from Gitcoin here. Are you still working on this bounty? Please let @dob know if so! 👍 🔨

[2018-10-25 14:06] iSasFTW commented on #158
@dob That sounds good. I was mostly thinking about just adding a new package to livepeerjs, that monitors the chain and sends out emails, like the original issue described. Do you think there's still a need for something like that?

[2018-10-25 20:52] yondonfu commented on #233
#245 adds support for dynamically fetching `maxEarningsClaimsRounds` from the BondingManager contract. However, there are still a few areas in the explorer where the UI displays a hardcoded value of 20 and also blocks bonding related transactions if the user has more than 20 rounds of unclaimed earnings. These hardcoded values should also all be removed in favor of using the value fetched from the

[2018-10-25 21:35] yondonfu commented on #233
Reopening to track the above comment

[2018-10-29 16:40] Randy1Burrell commented on #236
@ya7ya was this solved by last week's PR #243?

[2018-10-29 20:23] ya7ya commented on #236
yes,, this can be closed, `current.m3u8` is used with `/Channels/local` route.

[2018-10-29 21:34] dob commented on #158
I suspect the value is in the service that performs this for you moreso
than code that's available to setup and run yourself. So for example a PR
into livepeer.js might be a good starting point, but until someone actually
runs the service reliably 24/7, I think transcoders will still miss reward
calls without realizing.

On Thu, Oct 25, 2018 at 4:06 PM Saska Kolehmainen <notifications@github.com>

[2018-10-29 23:01] #236 closed

[2018-10-29 23:19] j0sh commented on #236
What if the node is not on localhost but still wants to play the current stream? For example, the Livepeer media player accessing `livepeer.tv` .

[2018-10-30 02:00] bleushark1988 commented on #158
Sorry guys.  I can't know issues yet.

[2018-10-30 02:04] Randy1Burrell commented on #236
@ya7ya what @j0sh said?

[2018-10-30 09:09] ya7ya commented on #236
@Randy1Burrell @j0sh right now, `current.m3u8` only works with the `local` mode.

[2018-11-03 02:35] PetSte opened #253 "Dashboard doesn't show current round + unclaimed earnings"
I keep having connection problems with the Livepeer dashboard. If I connect the hardware wallet  (Nano Ledger S) I use for bonding, via MetaMask to LivePeer, the dashboard can't seem to find the current round LivePeer is in and it won't show my unclaimed earnings ("0 LPT/0 ETH All caught up"). See attached pictures for more detail.

The dashboard **does** show my staking amount (initial stake+earn

[2018-11-05 17:49] Randy1Burrell commented on #203
@ericxtang did PR #243 fix this issue?

[2018-11-05 17:54] j0sh commented on #203
We should also be able to use `currrent.m3u8` with non-localhost hosts, otherwise the feature can't be used with hosted players, eg livepeer.tv, crypto.livepeer, etc.

[2018-11-05 18:18] Randy1Burrell commented on #203
@j0sh should we create a new issue for this or just reopen #208?

[2018-11-05 18:46] Randy1Burrell commented on #208
@ya7ya we need stream/current.m3u8 to work with localhost. Please refer #203 for details of the conversation about this.

[2018-11-05 18:46] Randy1Burrell commented on #208
Reopened because the problem is not yet solved.

[2018-11-05 23:48] dob commented on #253
Thanks for reporting this.

1. Let's see if merging #251 fixes the connection issues, which may have more to do with latency and cacheing, and may be addressed by that big change. If it's still an issue after that we'll look back into it.

2. You can let your reward LPT go "unclaimed" for as many rounds as you'd like, including past 100 rounds. You won't lose anything by doing so. If the # of roun

[2018-11-08 05:09] ryan-shea commented on #158
Hey @dob, Ryan from Gitcoin here. Looks like @bleushark1988 isn't working on this one -- do you want to approve @iSasFTW to work on it?

[2018-11-08 15:22] dob commented on #158
Sure, we can remove @bleushark1988, but it looks like as the funder maybe only @ericxtang can do it?

[2018-11-08 17:59] dtkong opened #254 "Confusion on fee share vs reward cut"
**What's the problem? (required)**

In my limited experience as a user, it's confusing that
Reward Cut is the % that goes to Transcoder
and Fee share is % that goes to delegator

I think it'd be more clear if the direction of the incentives go the same way.
+ note, it's also not immediately apparent that there's an info tool tip that explains the term on hover.

**What's the current behavior? (req

[2018-11-08 18:09] dtkong opened #255 "Add [max] button to transfer allowance and bonding"
**What's the problem? (required)**
I want all my LPT to be bonded, but I don't know off-hand exactly how much LPT I have to X decimal points.

Interface also shows varying levels of decimal points in diff places which can cause some minor dust issues.

**What's the current behavior? (required)**
Different behavior during transfer allowance and bonding, but at certain points, there isn't clear disp

[2018-11-09 06:04] j0sh opened #256 "Explorer account info not loading consistently"
**Describe the bug (required)**
The explorer has been acting erratic for me: my account information doesn't always load across various pages (transcoder, account overview, 'delegating' tab, etc).

**Expected behavior (required)**
Account information to load quickly and consistently.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to explorer.livepeer.org
1. Sometimes the "My Ac

[2018-11-09 18:01] Randy1Burrell commented on #256
@j0sh did you upgrade your MeteMask recently?

[2018-11-09 19:50] j0sh commented on #256
My MetaMask certainly isn't what it used to look like, but I'm not sure when it was updated. Within the last few months for sure. I haven't used the explorer in a little while, so that might be related.

[2018-11-09 21:54] Randy1Burrell commented on #256
@j0sh I think the security update that MetaMask put in effect this week is what is causing the explorer to react that way. I merged a PR from @ya7ya this week that I hope will fix this but I am still looking into other opportunity to get around it.

[2018-11-10 16:43] veox commented on #244
FTR, I can no longer reproduce this on the same system, so closing.

[2018-11-10 16:43] #244 closed

[2018-11-11 08:03] Randy1Burrell opened #257 "The future of LivepeerJs workflow"
**What is this discussion about? (required)**
LivepeerJs future plans.

**What do you hope to learn by the end of this discussion? (required)**
Currently LivepeerJs has different packages that the explorer depends on in order to give Livepeer's community of users useful data to make critical decisions. The explorer also requires more frequent updates to its interface for features and bug fixes. Sc

[2018-11-14 15:23] marczeller opened #259 "Overestimation of Gaslimit Needed for claiming staking earning"
**What's the problem? (required)**
Claiming earnings is currently hard coded at 2.1M Gas units, that's a quarter of a Block !

Actual gas usage is a fraction of that :
![image](https://user-images.githubusercontent.com/21088542/48491454-85ba2800-e81f-11e8-935c-17a03028b1bd.png)
![image](https://user-images.githubusercontent.com/21088542/48491562-c5810f80-e81f-11e8-80e0-e31bd3b7696a.png)

that's le

[2018-11-14 16:34] dob commented on #259
Thanks for the suggestions. Just adding a note that the protocol allows claiming up to 100 rounds at a time, and the UX of the explorer will be adjusted to allow this at some point soon.

It seems like a reasonable strategy would be to use the gas estimator + 20%, rather than a hardcoded value.

[2018-11-15 11:13] marczeller commented on #259
Quite fair, https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethestimategas + 20% should be the best solution.

Thanks Doug!

[2018-11-15 21:59] dob opened #260 "Claim stake & fees button leading to empty page and GraphQL error"
**Describe the bug (required)**
When you attempt to "Claim Stake and Fees" from your account page in the explorer, it leads to a blank page. The console outputs a graphQL error.

**Expected behavior (required)**
The claim dialog should pop up.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. With a staked Metamask account visit the "My Account" page in the explorer.
2. Click on cla

[2018-11-15 22:05] Randy1Burrell commented on #260
@dob I just redeployed a fix. Can you try again?

[2018-11-16 04:36] ericxtang commented on #257
Thanks for making this proposal @Randy1Burrell.  I see that it's largely process-related.  I'm always supportive of good development process, so a lot of these sound good to me.

I think aiming to have a bi-weekly/monthly release is good, but if we don't have anything important to release because we've been focused on something else, that's ok too.

Curious about the plan of adding tests to the ex

[2018-11-16 04:52] Randy1Burrell commented on #257
@ericxtang thanks for the comments. I aim to add front-end unit and integration tests to the explorer and and the player. I have found that these tests might be an issue with the new MetaMask security updates but I am sure I will be able to find a way around it. The React components in the player and the explorer also needs testing too.

There is also the suggestion of using JS Bin or JS Fiddle to

[2018-11-16 05:08] Randy1Burrell commented on #233
@yondonfu where in the explorer are these hard coded value?

[2018-11-16 06:03] Randy1Burrell opened #261 "Helping Delegators to Manage Unbonding Locks within the Explorer"
**What is this discussion about? (required)**
This discussion is about giving users the ability to manage their UnbondingLocks from the AccountDelegating page in the explorer.

**What do you hope to learn by the end of this discussion? (required)**
Given that unbonding (whether partially or fully) creates an UnbondingLock each time a Delegator unbonds, that Delegators can use to withdraw their tok

[2018-11-16 06:10] Randy1Burrell commented on #256
@j0sh the latest deployment have fixed some of the instability issues within the explorer, but not all. I am looking into what is causing the errors in the console. Can you please let me know if you find any other issue?

[2018-11-16 15:56] marczeller opened #262 "transcoder page doesn't load on Chrome with latest version of Metamask"
**Describe the bug (required)**
https://youtu.be/xk4ScfISfZQ

i have made a video of the issue.
Metamask unlocked, metamask secure approved.
Bug only on Chrome, Brave work as expected.

[2018-11-16 17:16] dob commented on #261
I like this very much from a technical perspective. Putting the unbonding locks on the account delegation page with the options to:

* rebond
* withdraw (when available)

will be very helpful.

From a product/communication perspective, this is definitely a new and confusing concept for users though. What is an unbonding lock? Why do they have to manage it? Perhaps rather than use that term and tel

[2018-11-16 17:31] dob commented on #256
In Chrome I'm consistently seeing data fail to fetch/load. For example even the round indicator is grey, as if it can't tell what round we're in, if it's initialized or not. It is also failing to load any data on the transcoders page.

[2018-11-16 23:44] #199 closed

[2018-11-17 19:08] dob opened #264 "eth_rpcEstimateGas call is failing in Firefox/Metamask when claiming earnings"
**Describe the bug (required)**
I tried to claim earnings in Firefox, and prior to even getting a Metamask popup for submission of the transaction, I get an error dialog that the ethRPCEstimateGas call has failed...with a bunch of errors coming out of metamask.

This is blocking the experience, since you need to claim earnings prior to being able to bond/unbond, etc.

**Expected behavior (required

[2018-11-26 17:22] dob commented on #254
Yes, this has been confusing users since day 1. The reasoning, and starting point was that 0%, 0% would be the default - a transcoder keeps 0% of your stake rewards (which is supposed to be in proportion to stake), and a transcoder shares 0% of the fees (since they are the one doing the work).

One thing to note is that the underlying protocol itself will likely not change - so the data structures

[2018-12-03 20:39] ericxtang opened #266 "Explorer Not Loading On Chrome"
**Describe the bug (required)**
The explorer is not loading transcoder information in Chrome.

**Expected behavior (required)**
The explorer should load transcoder information

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Make sure Metamask is install (and locked)
2. Use Chrome, go to explorer.livepeer.org
3. The explorer tries to load for a while, and stops with an error

**Scr

[2018-12-05 05:34] Randy1Burrell opened #267 "Unhandled error GraphQL error"
**Describe the bug (required)**
Explorer is sometimes unable to determine the state of round.

**Expected behavior (required)**
Explorer should know the state of the round.

**To Reproduce (required)**
This bug is difficult to consistently reproduce and no context can be given around how and why it happens.

**Device (required):**
 - Google chrome
 - Linux

**Console logs (optional)**
[code]

[2018-12-05 05:43] Randy1Burrell opened #268 "Unhandled error GraphQL error: [ethjs-abi]"
**Describe the bug (required)**
The Explorer sometime displays current round number as 0.

**Expected behavior (required)**
The Explorer should display the latest round number

**To Reproduce (required)**
Currently it happens randomly.

**Device (required):**
 - Browser Chrome
 - OS Linux

**Console logs (optional)**
[code]

[2018-12-05 06:00] Randy1Burrell opened #269 "Explorer fails to recognize LPT Balance"
**Describe the bug (required)**
The Explorer shows 0 LPT event though there are LPTs in wallet.

**Expected behavior (required)**
The Explorer should show correct amount of LPT in user's wallet.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to the [Explorer](https://explorer.livepeer.org)
2. Give the Explorer permission to access web3.
3. Click on the My Account nav menu
4. S

[2018-12-05 06:11] Randy1Burrell opened #270 "Explorer shows transcoders as inactive"
**Describe the bug (required)**
Explorer shows all Transcoders as inactive even when they are active.

**Expected behavior (required)**
The Explorer should show the currently active transcoders.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to [Explorer](https://explorer.livepeer.org)
2. See error.
**Note** This is not always reproducible.

**Device (required):**
 - OS: Linux

[2018-12-05 06:31] Randy1Burrell opened #271 "Errors while bonding tokens"
**Describe the bug (required)**
The explorer keeps giving different reason why I cannot bond my tokens.
1. ETH balance too low.
2. Need to claim earnings.
3. Need to adjust my amount I can bond.

**Expected behavior (required)**
The explorer should allow me to bond my token.

**Device (required):**
 - OS: Linux
 - Browser Chrome

[2018-12-05 17:17] dob commented on #271
Is this bug suggesting that those errors are reported but are untrue? They seem like valid errors in the case where they are true.

[2018-12-05 17:22] Randy1Burrell commented on #271
@dob they are valid errors in the case where they are true. Just to be sure I will looking into whether or not it's a bug or a case where the explorer was correctly reporting my account's state.

[2018-12-07 02:40] samparsky commented on #223
@Randy1Burrell Is this issue still open? I am willing to work on it

[2018-12-07 09:42] Randy1Burrell commented on #223
@samparsky sure this is still open. [Here](https://github.com/Livepeer-Community-Node/Grant-Program) is a program where you could submit a proposal and get compensated for helping out.

[2018-12-07 19:09] Randy1Burrell opened #272 "CIrcleCI testing fail because it cannot build the subgraph"
**Describe the bug (required)**
When CircleCI tries to run tests for the subgraph it fails with error: `prebuild-install WARN install libsecret-1.so.0: cannot open shared object file: No such file or directory`

**Expected behavior (required)**
Test should pass when conditions are right.

**Screenshots (optional)**
![image](https://user-images.githubusercontent.com/10135939/49667563-7d719900-fa29-

[2018-12-07 19:28] Randy1Burrell opened #273 "Allow users to use the Explorer without a web3 enabled wallet installed"
**What's the problem? (required)**
Users who visit the Explorer in its current state are not able to use the explorer.

**What's the current behavior? (required)**
A modal appears informing users that they can't use the explorer unless they install a web3 enabled wallet.
![image](https://user-images.githubusercontent.com/10135939/49668468-320cba00-fa2c-11e8-82bb-b245bc57ad4b.png)

**Describe a pos

[2018-12-07 21:05] Randy1Burrell opened #274 "Change Missed call to Missed reward calls"
**What's the problem? (required)**
Missed call column on the Transcoders page in the Explorer might confuse users.

**What's the current behavior? (required)**
* We should rename the column "missed reward calls", since users won't understand which "call" we are referring to

* We should change the format of the number to "x/y" instead of just "x".  If a node becomes active, it won't have the past

[2018-12-07 21:29] Randy1Burrell opened #275 "Zero Division Exception"
**Describe the bug (required)**
The Explorer depends on the SDK which depends on infura for blockchain data, and at times no/bad data is returned in Infura's response, which causes a Zero division exception in the Explorer.

**Expected behavior (required)**
The exception should be properly handled and no exception thrown.

**Additional Context**
The bug happens because of [this line](https://githu

[2018-12-07 22:07] Randy1Burrell opened #276 "Deprecation warning from RMWC lib"
**Describe the bug (required)**
Specifying icons via prop or children will be removed in the next release of rmwc.

**Expected behavior (required)**
We should not be using deprecated features.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to the [Explorer](https://explorer.livepeer.org).
2. Open developer console.
3. Click on the console tab.
4. See warning

**Device (require

[2018-12-07 22:58] Randy1Burrell opened #277 "Unknown onSelected Event handler property warning in BasicNavbar Component"
**Describe the bug (required)**
Console warning occurs about unknown onSelected event property in BasicNavbar.

**Expected behavior (required)**
This warning should not occur.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Run current master branch in dev mode
2. View explorer in dev mode.
3. Open developer tools console.
4. See error

**Device (required):**
 - Device: Any Web En

[2018-12-08 14:12] Randy1Burrell opened #278 "Received `true` for a non-boolean attribute `temporary`."
**Describe the bug (required)**
An error is given when I click on MyAccount menu option.

**Expected behavior (required)**
No error should be thrown.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Run the Explorer in development mode
2. Click on MyAccount
3. Open developer tools console
4. See error

**Device (required):**
 - Linux
 - Chrome

**Console logs (optional)**
[code]

*

[2018-12-08 14:34] Randy1Burrell opened #279 "Unused variable should be removed from explorer"
**Describe the bug (required)**
Unused variable in the explorer takes up unnecessary space.

**Expected behavior (required)**
The Explorer should be optimized and all unused variables removed

**Screenshots (optional)**
![image](https://user-images.githubusercontent.com/10135939/49687120-7d76a500-facc-11e8-9eaa-308cd1836ff5.png)

[2018-12-10 22:12] dob opened #281 "Missed Reward Call column showing incorrect data"
**Describe the bug (required)**
In The Graph implementation that is currently sitting on staging, the Missed Reward Call column shows how many reward calls were missed in the last 30 rounds. The numbers seem very incorrect.

For example if you look at the second node, 0x4ff.. you'll see that he clearly called reward at least 27 of the last 30 rounds (observed by looking at their recent txns in the

[2018-12-10 22:53] adamsoffer commented on #281
@dob Ah yes good spot. Luckily, this is not an issue with the indexer, but rather a frontend bug. If you [query our subgraph for that specific transcoder](https://thegraph.livepeer.org/subgraphs/name/livepeer?query=%7B%0A%20%20transcoders(where%3A%7Bid%3A%220x4ff088ac5422f994486663ff903b040692797168%22%7D)%20%7B%0A%20%20%20%20rewards%20%7B%0A%20%20%20%20%20%20rewardTokens%0A%20%20%20%20%20%20round

[2018-12-10 23:44] Randy1Burrell commented on #281
@adamsoffer I will include it in my PR.

[2018-12-11 00:01] Randy1Burrell commented on #281
[Here is the commit](https://github.com/livepeer/livepeerjs/pull/280/commits/4be59cebbc2b3d260da2371facf4c34beba2894d). @dob and @adamsoffer Gonna push this to staging and you tell me if anything else is wrong.

[2018-12-11 14:30] Randy1Burrell commented on #281
Great!!

[2018-12-11 14:31] dob opened #282 "Spacing on the Account Overview tab is way off after Graph integration"
**Describe the bug (required)**
The spacing between the recent transactions is enormous on the Overview tab of the account pages in the explorer in the graph integrated version.

**Expected behavior (required)**
The recent txns should not have nearly this much space between them.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to http://explorer-staging.livepeer.org.s3-website-

[2018-12-11 14:32] #271 closed

[2018-12-11 14:32] #275 closed

[2018-12-11 14:32] #256 closed

[2018-12-11 14:32] #262 closed

[2018-12-11 14:32] #266 closed

[2018-12-11 14:32] #268 closed

[2018-12-11 14:32] #264 closed

[2018-12-11 14:32] #267 closed

[2018-12-11 14:32] #269 closed

[2018-12-11 14:32] #270 closed

[2018-12-11 14:32] #276 closed

[2018-12-11 14:32] #277 closed

[2018-12-11 14:32] #278 closed

[2018-12-11 14:32] #272 closed

[2018-12-11 14:32] #273 closed

[2018-12-11 14:32] #274 closed

[2018-12-11 14:33] #281 closed

[2018-12-11 14:33] #279 closed

[2018-12-11 14:45] Randy1Burrell commented on #282
Hmmm, I wonder about this. Seems we're using an outdated version of rmwc which this feature depends. I wonder if that is causing this bug, because I now realise that the options menu in the Navbar which also depends on rmwc is not opening either.

[2018-12-11 17:13] adamsoffer commented on #282
@dob  @Randy1Burrell I've confirmed this is due to a breaking change in the `rmwc` package. Let's freeze that dependency version at `1.6.2`.

[2018-12-12 01:50] #282 closed

[2018-12-13 21:35] ericxtang opened #285 "Rinkeby transcoder info not loaded based on graph node"
**Describe the bug (required)**
The explorer shows transcoder information from mainnet, even when the user switches Metamask to Rinkeby

**Expected behavior (required)**
Explorer should show Rinkeby transcoder information in this case.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to the explorer
2. Select "Rinkeby" in Metamask
3. Transcoder info is from mainnet

**Additional

[2018-12-13 21:44] adamsoffer commented on #285
Nice catch. I'd say we have two options:
1. We can spin up a separate graph node that indexes Rinkeby events. ([The network is configurable in a graph node](https://github.com/livepeer/livepeerjs/blob/master/packages/subgraph/docker-compose.yml#L19)).
2. We can fallback to infura when rinkeby is detected.

Thoughts?

[2018-12-14 04:38] Randy1Burrell commented on #285
Sounds good to me.

[2018-12-17 17:21] Randy1Burrell commented on #192
This has been worked on and pushed to production. Closing this, @ericxtang you can reopen if this has not been implemented.

[2018-12-17 17:21] #192 closed

[2018-12-17 17:38] Randy1Burrell commented on #109
@j0sh are you still experiencing this issue?

[2018-12-17 18:03] f1l1b0x opened #288 "claim button missing for delegators in explorer"
**Describe the bug (required)**
The claim fee button is missing for delegators

**Expected behavior (required)**
As a delegator I want to use the claim fees button of the explorer at
https://explorer.livepeer.org/accounts/"transcoder"/delegating

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to 'https://explorer.livepeer.org/accounts/0x481efb669b423cfaffa49890205427dea9b3d693/

[2018-12-17 19:17] dob commented on #288
I'm sensing a repeating pattern here, with the checkmarks in these UI components also disappearing.

[2018-12-17 19:18] f1l1b0x commented on #288
@Randy1Burrell

[2018-12-17 19:20] Randy1Burrell commented on #288
I'm looking into it. I am not yet able to recreate this bug.

[2018-12-17 19:49] Randy1Burrell opened #289 "checkmark/x indicator in the transcoding "last reward round" box is not showing."
**Describe the bug (required)**
After recent updates in the explorer the checkmark/x indicator in the transcoding "last reward round" box is not showing up.

**Expected behavior (required)**
The checkmark/x indicator should show up.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Go to [the explorer](https://explorer.livepeer.org)
2. Click on a transcoder
3. Scroll down to last re

[2018-12-17 20:05] Randy1Burrell commented on #288
@f1l1b0x just to make sure I am looking in the right place is this the button that's not showing up?
![image](https://user-images.githubusercontent.com/10135939/50112395-2334bd00-020d-11e9-8b41-b52b52efac64.png)

[2018-12-17 20:08] Randy1Burrell commented on #288
Also, what OS and browser are you using?

[2018-12-17 20:35] f1l1b0x commented on #288
that is the right tab, OSX and latest chrome

[2018-12-17 22:46] Randy1Burrell commented on #288
@f1l1b0x As per our discussion, there is not a bug here.

[2018-12-17 22:47] f1l1b0x commented on #288
ugh @Randy1Burrell just showed me I am looking at the wrong page. to claim the delegator fees you need to go to https://explorer.livepeer.org/accounts/"delegator-address"/delegating
not https://explorer.livepeer.org/accounts/"transcoder"/delegating

[2018-12-17 22:47] #288 closed

[2018-12-18 15:04] #289 closed

[2018-12-18 15:32] dob opened #292 "Transcoder view shows old data before refreshing with latest data"
**Describe the bug (required)**
When I visit the transcoder view of a user account in the explorer, it sometimes shows old data, such as "last claimed round 995". Then after a few seconds it updates to show the recent, accurate data.

**Expected behavior (required)**
It should not show out of date data initially. It should either show a loading indicator, or nothing, or fresh data.

**To Reproduce

[2018-12-18 15:45] Randy1Burrell commented on #292
@dob I wonder if caching has something to do with this issue? That alongside the Infura api data issue. If it does then only able to fix if infra improves or we move everything to the graph.

[2018-12-18 20:03] dob commented on #292
Or updating the caching policy, right? Not saying that's top priority if it's a huge architectural change, but it would be a potential way to address the issue.

[2018-12-18 20:05] j0sh commented on #109
Haven't seen the issue lately, we can probably close this one.

[2018-12-18 21:00] Randy1Burrell commented on #292
Updating the caching policy might not fix this.

I think of it in terms of we caching data to load when Infura is down but in other cases when the data is outdated and Infura responds but takes too long then it will still show the outdated data. A solution I am looking at it is to refrain from loading data that's too old from cache unless Infura doesn't respond.

[2018-12-19 04:59] Randy1Burrell opened #294 "Build Unbonding Form Component"
**What's the problem? (required)**
I am unable to unbond partially within the explorer.

**What's the current behavior? (required)**
Clicking on unbond gives a metamask popup prompting you to unbond all of your stake.

**Do you have any personal experiences dealing with this problem? (optional)**
Yes, I have found that you can change the gas price in MetaMask but that's about it. An unbonding form

[2018-12-19 05:02] Randy1Burrell opened #295 "Build Unbonding Form View"
**What's the problem? (required)**
I am unable to unbond partially within the explorer.

**What's the current behavior? (required)**
Clicking on unbond gives a metamask popup prompting you to unbond all of your stake.

**Do you have any personal experiences dealing with this problem? (optional)**
Yes, I have found that you can change the gas price in MetaMask but that's about it. An unbonding form

[2018-12-19 05:30] Randy1Burrell opened #296 "Unbonding Locks Component needed."
**What's the problem? (required)**
I am not able to manage my unbonding locks within the explorer.

**What's the current behavior? (required)**
No unbonding locks shows up within the explorer.

**Do you have any personal experiences dealing with this problem? (optional)**
Yes, when someone unbonds, whether partially or fully, the LP tokens are held within an unbonding lock for a period of 7 days.

[2018-12-19 05:38] Randy1Burrell opened #297 "Create view for managing Unbonding Locks"
**What's the problem? (required)**
I am not able to manage my unbonding locks within the explorer.

**What's the current behavior? (required)**
No unbonding locks shows up within the explorer.

**Do you have any personal experiences dealing with this problem? (optional)**
Yes, when someone unbonds, whether partially or fully, the LP tokens are held within an unbonding lock for a period of 7 days.

[2018-12-20 16:46] Randy1Burrell commented on #253
@PetSte are you still having this issue?

[2018-12-20 18:04] Randy1Burrell commented on #255
@dtkong I like this idea, but I am not sure if this feature is really needed because the user's LPT balance is displayed to them with 18 decimal places precision when they are bonding. Copy and pasting the value displayed gives max. While, it would be easier to just click a button, I would like to avoid a situation where adding a button confuses new users or a user mistakenly clicks on max and bon

[2018-12-20 18:38] j0sh opened #299 "Success dialog shows negative rounds to claim after claiming"
**Describe the bug (required)**
After claiming earnings, the Explorer success dialog says I have the same (but negative) number of rounds left to claim.

**Expected behavior (required)**
Zero should be returned, or the number of rounds actually claimed subtracted from the original remaining rounds. My guess is the "original remaining rounds" value is being reset prematurely.

**To Reproduce (requi

[2018-12-20 19:40] #200 closed

[2018-12-20 19:43] Randy1Burrell commented on #158
@ericxtang what's happening with this issue?

[2018-12-20 23:05] ericxtang commented on #158
I think we can close this issue.  There is a grant for this now and someone is working on it.

[2018-12-20 23:05] #158 closed

[2018-12-20 23:46] samparsky commented on #296
Is this design okay?
<img width="961" alt="screen shot 2018-12-21 at 12 44 00 am" src="https://user-images.githubusercontent.com/8148384/50317052-e04b4180-04b9-11e9-9f57-6e86614f9c83.png">

[2018-12-21 00:51] Randy1Burrell commented on #296
@samparsky sure that design if fine. At the section where you talk about the block number that the transaction occurred, we will replace that with the estimated date the user will be able to withdraw and until that date arrives and the unbonding lock is open then the withdraw button should be disabled.

[2018-12-21 17:16] Randy1Burrell opened #300 "Add getDelegatorsUnbondingLocks method to SDK"
**What's the problem? (required)**
The has SDK has no default methods to get a Delegator's unbondingLocks.

**What's the current behavior? (required)**
Currently there is only a way to get a Delegator's unBondingLockNextId.

**Describe a possible solution you've considered (optional)**
I want to be able to call a method in the SDK to get all the unbondingLocks of any Delegator and I want to be abl

[2018-12-22 04:09] Randy1Burrell opened #301 "Loading explorer in LimitedMode before asking permission to access web3"
**What's the problem? (required)**
Explorer doesn't load if you closes the MetaMask security pop-up the asks for you to connect your web3 wallet.

**What's the current behavior? (required)**
When a user with web3 installed visits the explorer and gets a security pop-up asking to connect their wallet, if that user closes the pop-up window without confirming or cancelling the request then the explor

[2018-12-23 08:11] samparsky commented on #300
@Randy1Burrell I have implemented this. I added the below method to the sdk

[code]

But I am facing an issue, to test changes in the `graphql-sdk` in the explorer package, is there a process to it?

[2018-12-24 01:07] PetSte commented on #253
Yup, it's hard to make a connection with the blockchain via the dashboard sometimes. Sometimes the round counter (top left) stays grey with no current round, sometimes it's at the current round, but all my balances are incorrect/not showing and sometimes it simply works as it should. Switching pc/clearing caches etc sometimes works and sometimes doesn't, can be a real pain. Fortunately I finally m

[2018-12-26 15:48] RaffiSapire commented on #295
Note: when you click unbond all LPT, the amount should be autofilled. When you click unbond partial LPT, the amount should be editable.

[2018-12-26 15:53] RaffiSapire commented on #295
@Randy1Burrell  please note I have adjusted the text for the unbonding popup, and this should be consistent everywhere:

Unbonding Definition. Unbonding allows you to withdraw your token by releasing the token from the deposit with its Transcoder.
Unbonding Period. Once you unbond, it takes 7 days (the unbonding period) in order to be able to withdraw your token.
Amount. You may unbond ALL or a PA

[2018-12-26 16:02] RaffiSapire commented on #296
@samparsky @Randy1Burrell the WITHDRAW button on the 30 LPT should be Greyed out, like it is in my design mockup. The text above is not correct - please make sure to use the text that is linked in the preview flow. If you hover over it, it should look like
<img width="512" alt="screen shot 2018-12-26 at 10 18 06 am" src="https://user-images.githubusercontent.com/14640410/50450704-8acdc500-08fd-11e

[2018-12-26 16:05] RaffiSapire commented on #297
Randy, see other comment, but the text underneath the 30 LPT and 20 LPT is not the right text. Please use the text that is in the mockup flow. Dont find the text by clicking on the index, instead, use preview flow (the correct mockup is selected as part of the flow), as I have old drafts in the index that were not deleted.

[2019-01-07 18:47] Randy1Burrell opened #307 "Rename Delegation Account tab to Staking"
**What's the problem? (required)**
The Delagating Account tab should be renamed to Staking.

**What's the current behavior? (required)**
The tab on the Account page is Currently name Delegating but should be renamed to Staking.

**Describe a possible solution you've considered (optional)**
Rename the Delegating tab to Staking.

**Additional context (optional)**
Because of new features being added

[2019-01-10 02:57] #301 closed

[2019-01-11 10:20] Randy1Burrell opened #308 "Claim Earnings Rinkeby Bug"
**Describe the bug (required)**
When I claim earnings on the rinkeby network from the explorer running in dev mode I get an error.

**Expected behavior (required)**
Claim earning should work without error.

**To Reproduce (required)**
Steps to reproduce the behavior:
1. Run the explorer in development mode.
2. Log into MetsaMask
3. Give the Explorer permission to access your wallet.
4. Try claim e

[2019-01-11 10:39] Randy1Burrell opened #309 "Explorer has caching issue"
**Describe the bug (required)**
Cached data causes the explorer to sometimes show bad/outdated results

**Expected behavior (required)**
The explorer should show up to date results

**Device (required):**
- Any web3 enabled Browser

[2019-01-11 10:41] #233 closed

[2019-01-11 10:52] #294 closed

[2019-01-11 10:52] #295 closed

[2019-01-11 10:52] #307 closed

[2019-01-14 17:10] #296 closed

[2019-01-14 17:11] #297 closed

[2019-01-14 17:12] #261 closed

[2019-01-14 17:13] Randy1Burrell commented on #221
This is finished

[2019-01-14 17:13] #221 closed

[2019-01-14 18:30] yondonfu opened #311 "explorer: prevent the user from trying to bond 0 LPT to current delegate"
**Describe the bug (required)**
A clear and concise description of what the bug is.

At the moment, if a user tries to bond 0 LPT to its current delegate, she will see a dialog with a gas estimation error. In this case, the gas estimation error is because the transaction will always fail because the BondingManager contract will revert if a user tries to bond 0 LPT to a delegate.

**Expected behavi

[2019-01-17 14:31] mariano-aguero opened #312 "[Fix] Update package @livepeer/sdk with latest changes"
**Describe the bug (required)**
The livepeer SDK package is not updated

**Expected behavior (required)**
There are missing properties, for example for the getDelegator () function, the fields `allowance, address, bondedAmount, delegateAddress, delegateAmount, fees, lastClaimRound, pendingFees, pendingStake, startRound, status, withdrawRound, nextUnbondingLockId` must exist.
Right now the fields `

[2019-01-20 15:51] adamsoffer opened #313 "Migrate to the new Infura Dashboard"
Infura [will begin requiring a Project ID](https://blog.infura.io/infura-dashboard-transition-update-c670945a922a) generated from the new Infura Dashboard. **On January 23rd** requests using Dashboard-generated Project IDs will be prioritized over legacy keys during periods of high traffic activity. **On March 27** support will officially stop for all requests not sent using an Infura Dashboard-ge

[2019-01-24 03:52] Randy1Burrell commented on #247
@chrishobcroft this has been fixed. Closing this.

[2019-01-24 03:52] #247 closed

[2019-01-24 03:54] Randy1Burrell commented on #300
This has been fixed. Closing this!

[2019-01-24 03:54] #300 closed

[2019-01-24 04:11] Randy1Burrell commented on #312
@mariano-aguero I am currently setting up a pipeline for continuous deployment of the SDK to npm, so this should be updated in the near future.

[2019-01-24 04:12] Randy1Burrell commented on #292
#309 is related to this.

[2019-01-24 04:14] Randy1Burrell commented on #152
@ericxtang some updates were made to the player a few months back. Is this still an issue for you?

[2019-01-24 04:18] Randy1Burrell commented on #156
@j0sh How about adding a selection menu that you can use to switch to rinkeby that only shows up when MetaMask is disabled?

[2019-01-24 04:31] Randy1Burrell commented on #228
@chrishobcroft this is a good idea. I made some updates to the Account Overview page in the explorer that helps users with their unbonding locks and unbonding UX. Test it out [here](http://explorer-staging.livepeer.org.s3-website-us-east-1.amazonaws.com/transcoders) and tell me what you think.

[2019-01-24 04:34] Randy1Burrell commented on #229
Closing this, we can always reopen if needed. Thanks @dob for the suggestion.

[2019-01-24 04:34] #229 closed

[2019-01-24 04:41] Randy1Burrell commented on #108
@jbrukh could you provide some clarity around this feature request? Who are you referring to as a validator? @yondonfu is there currently anything in the protocol to achieve what @jbrukh is referring to?

[2019-01-24 04:53] Randy1Burrell commented on #105
@jozanza and @chrishobcroft this issue have been worked on in the explorer. When a user visits the explorer and is logged out of their wallet or doesn't have web3 installed a bar pops up on the transcoder page. You can test it out [here](http://explorer-staging.livepeer.org.s3-website-us-east-1.amazonaws.com/transcoders) and let me know what you think. We could implement this in the player too.